@*View Created by Sub Maj M Sanal Kumar on :  02 Aug 23  reviews 03 Sep (File upload bugs), 08 Oct, 01 nov (Hardening)
	Changes in Design by Hav Mani on : 02 Aug 23
*@

@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@using Newtonsoft.Json;
@using swas.BAL.Helpers
@using swas.BAL.Repository
@using swas.DAL
@using swas.DAL.Models
@using swas.BAL.Interfaces
@using swas.BAL.DTO
@model tbl_Projects

@{

    ViewBag.Title = "Projects List";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="container-fluid">

    <!-- Start This is Add Project Layout Open and hide-->
    <span id="spanProjectId" class="d-none">0</span>
    <span id="spanCurrentPslmId" class="d-none">0</span>
        <div class="row justify-content-center">
            <div class="col-md-12 text-center p-0 mb-2">
               
                <div class="card px-0 pb-0 mb-3">
                    <div class="newprojectheading">
                        New Project
                    </div>
                <input type="button" class="btn btn-danger m-2" id="tempBasicDetails" value="Dummy Data"/>
                    @using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { id = "msform", enctype = "multipart/form-data" }))
                    {

                        <!-- progressbar -->
                        <ul id="progressbar">
                        <li class="active" id="BasicDetails"><strong> Basic Details</strong></li>
                            <li id="AddlDetails"><strong>Additional Details</strong></li>
                            <li  id="Upload"><strong>Upload</strong></li>
                            <li id="confirm"><strong>Finish</strong></li>
                        </ul>


                        @* <div class="progress">
                    <div id="upload-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>*@

                        <!--Start Proeject Basic Details -->

                    <input hidden asp-for="ProjId" />
                    <input hidden asp-for="CurrentPslmId" />
                    <input hidden asp-for="ProjCode" />
                        <fieldset id="1">


                            <div class="form-card">


                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title"></h2>
                                    </div>
                                    <div class="col-5">
                                        <div class="steps">Step 1 - 4</div>
                                    </div>
                                </div>


                                <!--First row start-->
                                @*<div class="row d-flex justify-content-center">*@


                                <table class="new-table" id="tablebasic">
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.ProjName, "Project Name", new { id = "AddProjName" })<font style="color:red;"><b>*</b></font>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ProjName, new { htmlAttributes = new { @class = "form-control requiredField", @required = "required", onkeyup="ValInData(this)" } })
                                           
                                            <div class="invalid-feedback">
                                                Project Name Required
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.InitiatedDate, "Initiation Date", new { id = "AddInitiatedDate" })<font style="color:red;"><b>*</b></font>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.InitiatedDate, "{0:yyyy-MM-dd}", new { @class = "form-control requiredField", type = "date", required = "required" })
                                           
                                            <div class="invalid-feedback">
                                                Initiation Date Required
                                            </div>
                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.CompletionDate, "Completion Date",  new { id = "AddCompletionDate " })<font style="color:red;"><b>*</b></font>

                                        </td>
                                        <td>
                                            @* @Html.TextBoxFor(model => model.CompletionDate, new { @class = "form-control", type = "date", required = "required"})
                                        *@

                                            @if (Model != null)
                                            {
                                                <input asp-for="@Model.CompletionDate" type="date" asp-format="{0:dd-MM-yyyy}" class="form-control" />
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.CompletionDate, new { @class = "form-control requiredField", type = "date", required = "required"})


                                            }
                                            @*                                     <input asp-for="@Model.CompletionDate" type="date" asp-format="{0:dd-MM-yyyy}" class="form-control" />
                                        *@
                                            @* @Html.EditorFor(model => model.CompletionDate, new { htmlAttributes = new { @class = "form-control", type = "date", required = "required", value="@Model.CompletionDate?.ToString('yyyy-MM-dd')" } }) *@
                                           
                                            <div class="invalid-feedback">
                                                Completion Date Required
                                            </div>
                                        </td>
                                    </tr>
                                    <!--next row-->
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.IsWhitelisted, "Already Whitelisted ?", new { id = "AddIsWhitelisted" })<font style="color:red;"><b>*</b></font>

                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.IsWhitelisted, new { htmlAttributes = new { @class = "form-control requiredField", required = "required", onkeyup="ValInData(this)"} })
                                            
                                            <div class="invalid-feedback">
                                                Whitelist Status Required
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.InitialRemark, "Remarks", new { id = "AddInitialRemark" })<font style="color:red; "><b>*</b></font>

                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.InitialRemark, new { htmlAttributes = new { @class = "form-control requiredField", required = "required",onkeyup="ValInData(this)" } })
                                            <div class="invalid-feedback">
                                                Initial Remark Required
                                            </div>
                                           
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.StakeHolderId, "Sponsor", new { id = "AddStakeholderId1" })<font style="color:red;"><b>*</b></font>

                                        </td>
                                        <td>
                                            <div id="AddStakeholderIdDiv">
                                            
                                            <input hidden asp-for="StakeHolderId" />
                                                <select id="ddlStakeHolderId" class="form-select requiredField" data-toggle="tooltip" title="Select  " required>
                                                </select>
                                               
                                                <div class="invalid-feedback">
                                                    Stake Holder Required
                                                </div>
                                               
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.AimScope, "Aim and Scope", new { id = "AddAimScope1" })<font style="color:red; "><b>*</b></font>

                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.AimScope, new { @class = "form-control requiredField", required = "required", oninput = "ValInData(this)" })
                                            <div class="invalid-feedback">
                                                Aim and Scope Required
                                            </div>
                                           

                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.HQandITinfraReqd, "IT Infra Required", new { id = "AddHQandITinfraReqd" })<font style="color:red;"><b>*</b></font>

                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.HQandITinfraReqd, new { htmlAttributes = new { @class = "form-control requiredField", required = "required",onkeyup="ValInData(this)" } })
                                           
                                            <div class="invalid-feedback">
                                                HQ and IT Infrastructure Required
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.HostTypeID, new { id = "AddHost" })<font style="color:red;"><b>*</b></font>

                                        </td>
                                        <td>

                                            <div id="HostTypeDiv">
                                            <input hidden asp-for="HostTypeID" />
                                                <select id="ddlHostTypeID" class="form-select requiredField" data-toggle="tooltip" title="Select  " required>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Hosted on Required
                                                </div>
                                               
                                            </div>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.ContentofSWApp, new { id = "AddContentofSWApp1" })<font style="color:red; "><b>*</b></font>

                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.ContentofSWApp, new { @class = "form-control requiredField", required = "required", oninput = "ValInData(this)"  })
                                           
                                            <div class="invalid-feedback">
                                                Contents app Required
                                            </div>
                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.ReqmtJustification,new { id = "AddReqmtJustification1" })<font style="color:red;"><b>*</b></font>

                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.ReqmtJustification, new { @class = "form-control requiredField", required = "required",  oninput = "ValInData(this)"  })
                                            <div class="invalid-feedback">
                                                Reqmt Justification  Required
                                            </div>
                                           
                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.UsabilityofProposedAppln, new { id = "AddUsabilityofProposedAppln1" })<font style="color:red;"><b>*</b></font>

                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.UsabilityofProposedAppln, new { htmlAttributes = new { @class = "form-control requiredField", required = "required",onkeyup="ValInData(this)" } })
                                            <div class="invalid-feedback">
                                                Usability of Proposed Appln Date Required
                                            </div>
                                           
                                        </td>
                                    </tr>

                                    <tr>

                                        <td>
                                            @Html.LabelFor(model => model.Apptype, "Application Type", new { id = "AddApptype" })<font style="color:red;"><b>*</b></font>

                                        </td>
                                        <td>
                                            <div id="ApptypeDiv">
                                            <input hidden asp-for="Apptype" />
                                                <select id="ddlApptype" class="form-select requiredField" data-toggle="tooltip" title="Select  " required>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Stake Holder Required
                                                </div>
                                            </div>


                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                </table>

                                @*</div>*@
                            </div>

                            <input type="button" id="btnbasic" name="next" class="next action-button" value="Next" />
                        </fieldset>


                        <fieldset id="2">


                            <div class="form-card">

                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title"></h2>
                                    </div>
                                    <div class="col-5">
                                        <div class="steps">Step 2 - 4</div>
                                    </div>
                                </div>


                                @*<div class="form-group row">*@

                                <table class="new-table">
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.DetlsofUserBase,new { id = "AddDetlsofUserBase" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.DetlsofUserBase, new { htmlAttributes = new { @class = "form-control",required = "required", onkeyup="ValInData(this)" } })
                                            <div class="error-message" style="display: none;">
                                                @Html.ValidationMessageFor(model => model.DetlsofUserBase, "This Field is Required", new { @class = "text-danger" })
                                            </div>
                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.EnvisagedCost, new { id = "AddEnvisagedCost" })

                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.EnvisagedCost, new { @class = "form-control", type = "number", onkeyup="ValInData(this)" })

                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.NWBandWidthReqmt, new { id = "AddNWBandWidthReqmt" })

                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.NWBandWidthReqmt, new { htmlAttributes = new { @class = "form-control",onkeyup="ValInData(this)" } })

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.MajTimeLines, new { id = "AddMajTimeLines" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.MajTimeLines, new { htmlAttributes = new { @class = "form-control" ,onkeyup="ValInData(this)"} })

                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.TechStackProposed, new { id = "AddTechStackProposed" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.TechStackProposed, new { htmlAttributes = new { @class = "form-control",onkeyup="ValInData(this)" } })

                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.DataSecurity_backup, new { id = "AddDataSecurity_backup" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.DataSecurity_backup, new { htmlAttributes = new { @class = "form-control",onkeyup="ValInData(this)"} })

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.TypeofSW, new { id = "AddTypeofSW" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.TypeofSW, new { htmlAttributes = new { @class = "form-control",onkeyup="ValInData(this)" } })

                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.BeingDevpInhouse, new { id = "AddBeingDevpInhouse" })

                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.BeingDevpInhouse, new { htmlAttributes = new { @class = "form-control",onkeyup="ValInData(this)" } })

                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.EndorsmentbyHeadof, new { id = "AddEndorsmentbyHeadof" })
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.EndorsmentbyHeadof, new { htmlAttributes = new { @class = "form-control",onkeyup="ValInData(this)" } })

                                        </td>
                                    </tr>

                                </table>



                            </div>
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                           @*  <input type="submit" id="submitUploadNew" name="next" class="next action-button" value="Submit & Upload new" /> *@
                            <input type="button" id="submitUpload" name="next" class="next action-button" value="Next" />



                        </fieldset>

                        <!--End Proeject Basic Details -->
                        <!--Start Upload Form-->

                        <fieldset id="3">

                            <div class="form-card">

                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title"></h2>
                                    </div>
                                    <div class="col-5">
                                        <div class="steps">Step 3 - 4</div>
                                    </div>
                                </div>
                                 
                                @Html.Partial("_newprojfwdupload");


                            </div>



                            <input type="button" id="finalupload" name="next" class="next action-button" value="Finalise & Submit" />

                           
                        </fieldset>
                        <fieldset id="4">

                            <div class="form-card">

                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title"></h2>
                                    </div>
                                    <div class="col-5">
                                        <div class="steps">Step 4 - 4</div>
                                    </div>
                                </div>


                                <div class="row justify-content-center">
                                    <center>
                                        <br><br>
                                        <h2 class="purple-text text-center"><strong>Project Successfully Submitted..!</strong></h2>
                                        <br> <br />
                                        <a href="/Projects/ClearTempDataAndRedirect">
                                            <input type="button" class="next action-button" value="Add More Projects" />
                                        </a><br>
                                        <a href="/Home/Index">
                                            <input type="button" class="next action-button" value="Dashboard" />
                                        </a>
                                    </center>
                                </div>

                            </div>

                        </fieldset>

                        <!--End Upload Form-->
                    }
                </div>
            </div>
        </div>
    

    <!-- End This is Add Project Layout Open and hide-->



</div>




<div class="card radius-10 w-100">
    <div class="card-body">
        Originated Projects

        <table id="SoftwareType1" class="table table-striped table-bordered">
            <thead>
                <tr>
                   @*  <th></th> *@
                    <th></th>

                    <th>Project</th>
                    @* <th>Sponsor</th> *@

                    <th>Initiated Date</th>
                    @*  <th>Completion Date</th> *@
                    @*   <th>Whitelisted</th> *@
                    <th>Comments</th>

                    <th>Updated on</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var project in ViewBag.Projects)
                {
                    <tr>

                       @*  <td>
                            @if (project.ActionCde == 1 && project.ActionId < 3)
                            {
                                <a class="editButton" data-proj-id="@project.ProjId" data-psm-id="@project.CurrentPslmId" data-proj-name="@project.ProjName">
                                    <img src="~/assets/images/Edit.png" width="15" height="15" alt="Edit Image">
                                </a>
                            }

                        </td> *@
                        <td>
                            @if (project.ActionCde == 1 && project.ActionId < 3)
                            {
                                @* <a class="deleteButton" data-proj-name="">
                                    <img src="~/assets/images/Del.png" width="18" height="18" alt="Edit Image">
                                </a> *@
                                <span class="d-none tblspnprojectid">@project.ProjId</span>
                                <button type='button' class='btndeleteProject btn-icon btn-round btn-danger mr-1'><i class='fas fa-trash-alt'></i></button>
                            }
                            else

                            {
                                <img src="~/assets/images/icons/accept.png" width="18" height="18" alt="Readed">
                            }
                        </td>



                        <td>
                            <a class="peditButton" data-proj-name="@project.ProjName">
                                @project.ProjName
                            </a>
                        </td>
                        @*   <td>@project.StakeHolder</td> *@

                        <td>@project.InitiatedDate?.ToString("dd-MM-yyyy")</td>
                        @*  <td>@project.CompletionDate?.ToString("dd-MM-yyyy")</td> *@
                        @*  <td>@project.IsWhitelisted</td> *@
                        <td>@project.Comments</td>

                        <td>@project.DateTimeOfUpdate?.ToString("dd-MM-yyyy")</td>
                        <td>
                            @project.Status

                        </td>

                        <td>
                            @project.Action
                        </td>
                    </tr>

                }
            </tbody>

        </table>


    </div>
</div>



@*@Html.HiddenFor(model => model.ProjEdit.ProjEdit.CurrentPslmId, new { htmlAttributes = new { @class = "form-control", value="@Model.ProjEdit.CurrentPslmId" } })
@Html.HiddenFor(model => model.ProjEdit.IsActive, new { htmlAttributes = new { @class = "form-control" } })
@Html.EditorFor(model => model.ProjEdit.DateTimeOfUpdate, new { htmlAttributes = new { @class = "hidden-date form-control", type = "date" } })*@




<script src="~/DeveloperJs/CreateProjects.js"></script>
<script src="~/developerjs/mtable.js"></script>