@*View Created by Sub Maj M Sanal Kumar on :  02 Aug 23
	Changes for View :  by Hav Mani on : 02 Aug 23
*@

@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@using Newtonsoft.Json;
@using swas.BAL.Helpers
@using swas.BAL.Repository
@using swas.DAL
@using swas.DAL.Models
@using swas.BAL.Interfaces
@using swas.BAL.DTO
@model CommonDTO
<link href="~/css/Draftedit.css" rel="stylesheet"/>
@{
    ViewBag.Title = "Projects List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sno = 0;
    bool sbcde = ViewBag.SubmitCde ?? false;
    ViewBag.SubmitCde = sbcde;

    TempData["projpsmided"] = TempData["projpsmided"];
    int tabshift = (int)TempData["Tabshift"];
    TempData.Remove("Tabshift");
    if (tabshift == 0)
        tabshift = 1;


    if (Model.ProjEdit != null && TempData["ProjID"] == null)
    {
        if (Model.ProjEdit.ProjId != 0)
        {
            TempData["ProjID"] = Model.ProjEdit.ProjId;
        }

    }
    else if ((int)TempData["ProjID"] < 1)
    {
        TempData["ProjID"] = TempData["ProjID"];
    }
    else
    {
        TempData["ProjID"] = 0;
    }
    
}

<div class="container-fluid">
    <div id="editFormContainer" class="edit-form-container">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <div class="newprojectheading">
                        Edit Project
                    </div>

                    @using (Html.BeginForm("EditProjUndo", "Projects", FormMethod.Post, new { id = "msformx", enctype = "multipart/form-data" }))
                    {
                        <ul id="progressbar">
                            <li class="active" id="BasicDetailsed"><strong> Project Basic Details</strong></li>
                            <li id="AddlDetailsed"><strong>Project Additional Details</strong></li>
                            <li id="Uploaded"><strong>Upload</strong></li>
                            <li id="confirmed"><strong>Finish</strong></li>
                        </ul>

                        <fieldset id="5">
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title"></h2>
                                    </div>
                                    <div class="col-5">
                                        <div class="steps">Step 1 - 4</div>
                                    </div>
                                </div>

                                <!-- First row start EDIT BLOCK-->
                                <table class="new-table">
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(model => model.ProjEdit.ProjId, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.HiddenFor(model => model.ProjEdit.CurrentPslmId, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.LabelFor(model => model.ProjEdit.ProjName, "Project Name")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ProjEdit.ProjName, new { htmlAttributes = new { @class = "form-control", required = "required", onkeyup = "ValInData(this)" } })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.ProjName, "Project Name Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.InitiatedDate, "Initiation Date")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(model => model.ProjEdit.InitiatedDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.InitiatedDate, "Initiation Date Required", new { @class = "text-danger" })
                                            </div>
                                        </td>

                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.CompletionDate, "Completion Date")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @if (Model.ProjEdit != null)
                                            {
                                                <input asp-for="@Model.ProjEdit.CompletionDate" type="date" asp-format="{0:dd-MM-yyyy}" class="form-control" />
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.ProjEdit.CompletionDate, new { @class = "form-control", type = "date", required = "required" })
                                            }
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.CompletionDate, "Completion Date Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- next row -->
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.IsWhitelisted, "Is Whitelisted")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ProjEdit.IsWhitelisted, new { htmlAttributes = new { @class = "form-control", required = "required", onkeyup = "ValInData(this)" } })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.IsWhitelisted, "Whitelist Status Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.InitialRemark, "Initial Remark")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ProjEdit.InitialRemark, new { htmlAttributes = new { @class = "form-control", required = "required", onkeyup = "ValInData(this)" } })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.InitialRemark, "Initial Remark Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.StakeHolderId, "Stakeholder")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ProjEdit.StakeHolderId, ViewBag.stkhold as SelectList, new { id = "ddlUnitIdedit", @class = "form-control", required = "required" })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.StakeHolderId, "Stake Holder Required", new { @class = "text-danger" })
                                            </div>

                                            @Html.HiddenFor(model => model.ProjEdit.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.EditorFor(model => model.ProjEdit.DateTimeOfUpdate, new { htmlAttributes = new { @class = "hidden-date form-control", type = "date" } })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.AimScope, "Aim and Scope")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.ProjEdit.AimScope, new { @class = "form-control", required = "required", oninput = "ValInData(this)" })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.AimScope, "Aim and Scope Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.HQandITinfraReqd, "HQ and IT Infrastructure Required")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ProjEdit.HQandITinfraReqd, new { htmlAttributes = new { @class = "form-control", required = "required", onkeyup = "ValInData(this)" } })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.HQandITinfraReqd, "HQ and IT Infrastructure Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.HostTypeID)<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ProjEdit.HostTypeID, ViewBag.Hostedon as SelectList, new { id = "Hostedtype", @class = "form-control", required = "required" })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.HostTypeID, "Hosted on Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.ContentofSWApp)<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.ProjEdit.ContentofSWApp, new { @class = "form-control", required = "required", oninput = "ValInData(this)" })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.ContentofSWApp, "Content of App Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.ReqmtJustification)<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.TextAreaFor(model => model.ProjEdit.ReqmtJustification, new { @class = "form-control", required = "required", oninput = "ValInData(this)" })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.ReqmtJustification, "Reqmt Justification Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.UsabilityofProposedAppln)<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.EditorFor(model => model.ProjEdit.UsabilityofProposedAppln, new { htmlAttributes = new { @class = "form-control", required = "required", onkeyup = "ValInData(this)" } })
                                            <div class="error-message">
                                                @Html.ValidationMessageFor(model => model.ProjEdit.UsabilityofProposedAppln, "Usability Proposed Appln Required", new { @class = "text-danger" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.LabelFor(model => model.ProjEdit.Apptype, "Appln Type")<font class="required-indicator">*</font>
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(model => model.ProjEdit.Apptype, ViewBag.apptype as SelectList, new { id = "ddlAppTypeEdit", @class = "form-control", required = "required" })
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <input type="button" name="next" class="next action-button" value="Next" />
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card radius-10 w-100">
    <div class="card-body">
        Project Created/Fwd/Recd
    </div>
</div>

<div class="modal fade" id="UnitAdd" tabindex="-1" aria-labelledby="UnitAddViewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-custom-width">
            <div class="modal-header">
                <h5 class="modal-title" id="UnitAddLabel">Add Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_unitdetls", new UnitDtl { UnitName = "" })
            </div>
        </div>
    </div>
</div>
@if (Model.ProjEdit != null && Model.ProjEdit.CompletionDate.HasValue)
{
    <script>
        (function () {
          const v = @Html.Raw(JsonSerializer.Serialize(
           Model?.ProjEdit?.CompletionDate?.ToString("yyyy-MM-dd") ?? ""
      ));
          const el = document.getElementById("ProjEdit_CompletionDate");
          if (el) el.value = v;
        })();
    </script>

}

<script src="~/developerjs/projects_draftedit.js"></script>




<br />




