@using swas.BAL.DTO
@model List<ProjHistory>
@{
    ViewBag.Title = "Project History List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? DataProjId = ViewBag.DataProjId as int?;


    int snoa = 0;

}
<head>
    <link href="~/css/ProjhistoryView.css" rel="stylesheet" />
</head>

<div class="row">

    <!-- Proj Details -->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="projectheading">
                    Proj Details <img src="~/assets/images/icons/pdfimg.png" onclick="PrintDiv()" alt="Pdf Download" class="pdf-download-icon">
                </div>
                <table class="new-proj-table">
                    <tr>
                        <td>Proj Name</td>
                        <td>@Model.FirstOrDefault()?.ProjName</td>
                    </tr>
                    <tr>
                        <td>Aim & Scope</td>
                        <td>@Model[0].ProjectDetl[1].AimScope</td>
                    </tr>
                    <tr>
                        <td>Usability of Proposed Appln</td>
                        <td>@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>
                    </tr>
                    <tr>
                        <td>Major Timeline..?</td>
                        <td>@Model[0].ProjectDetl[1].MajTimeLines</td>
                    </tr>
                    <tr>
                        <td>Name of Sponsor</td>
                        <td>@Model.FirstOrDefault()?.InitiatedBy</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Sponsor Details -->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="projectheading">
                    Tech Details
                </div>
                <table class="new-proj-table">
                    <tr>
                        <td>Proposed Tech Stack</td>
                        <td>@Model[0].ProjectDetl[1].TechStackProposed</td>
                    </tr>
                    <tr>
                        <td>Type of Software</td>
                        <td>@Model[0].ProjectDetl[1].TypeofSW</td>
                    </tr>
                    <tr>
                        <td>NW Bandwidth Reqmt</td>
                        <td>@Model[0].ProjectDetl[1].NWBandWidthReqmt</td>
                    </tr>
                    <tr>
                        <td>Hosted On</td>
                        <td>@Model[0].ProjectDetl[1].HostTypeID</td>
                    </tr>
                    <tr>
                        <td>Deployment Type</td>
                        <td>@Model[0].ProjectDetl[1].Apptype</td>
                    </tr>
                    <tr>
                        <td>Being Devp In House..?</td>
                        <td>@Model[0].ProjectDetl[1].BeingDevpInhouse</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Tech Details -->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="projectheading">
                    Other Details
                </div>
                <table class="new-proj-table center-align">
                    <tr>
                        <td>Envisaged Cost</td>
                        <td>@Model[0].ProjectDetl[1].EnvisagedCost</td>
                    </tr>
                    <tr>
                        <td>Content of SW Appln</td>
                        <td>@Model[0].ProjectDetl[1].ContentofSWApp</td>
                    </tr>
                    <tr>
                        <td>Usability of Proposed Appln</td>
                        <td>@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>
                    </tr>
                    <tr>
                        <td>Reqmt Justification</td>
                        <td>@Model[0].ProjectDetl[1].ReqmtJustification</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>


<div id="myModal" class="modal modal-custom-width">
    <div class="modal-dialog">
        <div class="modal-content modal-dialog-custom-width">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

<!--  PDF START -->


<div class="container" hidden="hidden">
    <div id="myPDF" data-page-number="1" role="region" aria-label="Page 1" data-loaded="true">
        <div class="col-20 col-lg-20 col-xl-10 d-flex">
            <div class="card-body">
                <div class="col-20 col-lg-20 col-xl-10 d-flex"></div>

                <div id="widget-content">
                    <table id="htmlTopdf" class="new-table">
                        <thead class="col-20 col-lg-20 col-xl-10 d-flex">
                        </thead>
                        <tbody>
                            <div id="checklist" class="checklist-title">
                                @Model.FirstOrDefault()?.ProjName : CHECKLIST
                            </div>

                            <tr>
                                <th class="table-header"> Ser No</th>
                                <th id="Descrption" class="table-header">Descrption</th>
                                <th class="table-header">Information of Descrption</th>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">1.</td>
                                <td class="table-cell">Proj Name</td>
                                <td class="table-cell">
                                    @(Model.FirstOrDefault()?.ProjName ?? "No Project Name")
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">2.</td>
                                <td class="table-cell">Name of Sponsor</td>
                                <td class="table-cell">@Model.FirstOrDefault()?.InitiatedBy</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">3.</td>
                                <td class="table-cell">Typeof SW (Bespoke/COTS/Customised)</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].TypeofSW</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">4.</td>
                                <td class="table-cell" colspan="2">
                                    <u class="text">
                                        Brief justification on reqmt for devp of SW appl:
                                    </u>
                                    <br /> &nbsp;&nbsp;  @Model.FirstOrDefault()?.InitialRemarks
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">5.</td>
                                <td class="table-cell" colspan="2">
                                    <u>Aim & Scope (Purpose incl utility, beneficiaries and tgt users):</u>
                                    <br /> &nbsp;&nbsp;  @Model[0].ProjectDetl[1].AimScope
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">6.</td>
                                <td class="table-cell" colspan="2">
                                    <u>To be hosted on Internet/ADN with brief Desc:</u>
                                    <br /> &nbsp;&nbsp;  @Model[0].ProjectDetl[1].Hostedon
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">7.</td>
                                <td class="table-cell">Being devp in house or through IT funds</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].BeingDevpInhouse</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">8.</td>
                                <td class="table-cell">
                                    Usability of proposed appl by other arms/service/org/est
                                </td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">9.</td>
                                <td class="table-cell">HW and IT infrastructure reqd :</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].HQandITinfraReqd</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">10.</td>
                                <td class="table-cell" colspan="2">
                                    <u>Brief details of content of the proposed SW appl:</u>
                                    <br />&nbsp;&nbsp; @Model[0].ProjectDetl[1].ContentofSWApp
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">11.</td>
                                <td class="table-cell">Endorsement by Head of Br/Svc/Fmn</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].EndorsmentbyHeadof</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">12.</td>
                                <td class="table-cell">Details of user base</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].DetlsofUserBase</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell" colspan="3">
                                    Addl Details (Optional in Pre Apvl Stg: Mandatory in Post Apvl Stg)
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">13.</td>
                                <td class="table-cell">Envisage cost of entire proj incl license fees and maint</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].EnvisagedCost</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">14.</td>
                                <td class="table-cell">Project dt of completion incl maj timelines</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].MajTimeLines</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">15.</td>
                                <td class="table-cell" colspan="2">
                                    <u>Brief details of SW platform and tech stack proposed for devp of appl incl op sys dependencies (if any):</u>
                                    <br /> &nbsp;&nbsp;  @Model[0].ProjectDetl[1].DetlsofUserBase
                                </td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">16.</td>
                                <td class="table-cell">Brief details of proposed network and bandwidth reqmts</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].NWBandWidthReqmt</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">17.</td>
                                <td class="table-cell">Brief details of OS & Sys software reqmts</td>
                                <td class="table-cell">@Model[0].ProjectDetl[1].HQandITinfraReqd</td>
                            </tr>

                            <tr class="table-row">
                                <td class="table-cell">18.</td>
                                <td class="table-cell" colspan="2">
                                    <u>Brief details of proposed data security measures incl backup of data</u> :
                                    <br />&nbsp;&nbsp; @Model[0].ProjectDetl[1].DataSecurity_backup
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="new-table">
                        <thead class="col-20 col-lg-20 col-xl-10 d-flex">
                            <tr>
                                <th class="table-header">Ser No</th>
                                <th class="table-header">Date</th>
                                <th class="table-header">Status</th>
                                <th class="table-header">Fwd Fm</th>
                                <th class="table-header">Fwd To</th>
                                <th class="table-header">Comment</th>
                                <th class="table-header">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div id="movment" class="checklist-title">
                                @Model.FirstOrDefault()?.ProjName : MOVEMENT
                            </div>
                            @{
                                int snoa3 = 0;
                            }
                            @foreach (var history in Model)
                            {
                                <tr class="table-row">
                                    <td class="table-cell">
                                        @{
                                            snoa3++;
                                        }
                                    </td>
                                    <td class="table-cell">@history.TimeStamp</td>
                                    <td class="table-cell">@history.Status</td>
                                    <td class="table-cell">@history.FromStakeHolder</td>
                                    <td class="table-cell">@history.CurrentStakeHolder</td>
                                    <td class="table-cell">@history.Remarks</td>
                                    <td class="table-cell">@history.Comment</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <table class="new-table">
                        <thead class="col-20 col-lg-20 col-xl-10 d-flex">
                            <tr>
                                <th class="table-header"> Ser No</th>
                                <th class="table-header">Stakeholder</th>
                                <th class="table-header">Date</th>
                                <th class="table-header">Comment</th>
                                <th class="table-header">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div id="movment" class="checklist-title">
                                @Model.FirstOrDefault()?.ProjName : COMMENTS
                            </div>
                            @foreach (var history in ViewBag.CommentByStakeholderList)
                            {
                                if (history.Comment != string.Empty)
                                {
                                    <tr class="table-row">
                                        <td class="table-cell">@(++snoa3)</td>
                                        <td class="table-cell">@history.stakeholder</td>
                                        <td class="table-cell">@history.DateTimeOfUpdate.ToString("dd-MM-yyyy")</td>
                                        <td class="table-cell">@history.Comment</td>
                                        <td class="table-cell">@history.Action</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
    


<!-- PDF END -->
@{
                                snoa = 0;
                            }


<div class="card bi-ui-radios-30 w-100">
    <div class="card-body">
        <table id="SentProjDetails" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ser No</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Fwd Fm</th>
                    <th>Fwd To</th>
                    <th>Remarks</th>
                    <th>Comment</th>
                    <th>#Att</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var history in Model)
                {
                    <tr>
                        <td>
                            @{
                                snoa++;
                            }
                            @snoa
                        </td>
                        <td>@history.TimeStamp</td>
                        <td>@history.Status</td>
                        <td>@history.FromStakeHolder</td>
                        <td>@history.CurrentStakeHolder</td>
                        <td>@history.Remarks</td>
                        <td>@history.Comment</td>
                        <td>
                            @if (history.AttCnt > 0)
                            {
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@history.PsmId">
                                    <img src="/assets/images/icons/attachemnts_clip.png" alt="Icon" class="attachment-icon">
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/DeveloperJs/ProjHistoryView.js"></script>