@using Microsoft.AspNetCore.Identity
@using swas.BAL.Helpers
@using Microsoft.AspNetCore.Authorization

@using swas.BAL.DTO
@model List<ProjHistory>
@{
    ViewBag.Title = "Project History List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int snoa = 0;
    //if (Model.Projmove == null)
    // {
    //     Model.Projmove = new Projmove(); // Initialize Projmove if it's null
    // }

    //Model.Projmove.Submitcde = false;
    //ViewBag.SubmitCde = ViewBag.SubmitCde;
    int? DataProjId = ViewBag.DataProjId as int?;
}
@{
    int projIdFromViewBag = Convert.ToInt32(ViewBag.Projid);
}
@*<link href="~/assets/css/tooltip.css" rel="stylesheet" />*@

@* <link href="~/css/chatbox.css" rel="stylesheet" /> *@

<link href="~/css/projhistory.css" rel="stylesheet" />
<link href="~/css/ProjectwiseReport.css" rel="stylesheet" />


<div class="row mt-5">
    <span id="spnstageid" class="d-none">@ViewBag.stageid</span>
    <span id="spntabType" class="d-none">@ViewBag.Type</span>
    <span id="IsProcess" class="d-none">@ViewBag.Isprocess</span>

    <span id="IsCommentPsmiId" class="d-none">@ViewBag.IsCommentPsmiId</span>
    <!--Proj Details-->
    <div class="card-body">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <table class="table table-striped table-bordered tblProjectWiseStatusByprojid">
                </table>


            </div>
        </div>
    </div>
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
        

        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="projectheading">
                    Proj Details  @*  <img src="~/assets/images/icons/pdfimg.png" onclick="PrintDiv()" alt="Pdf Download" width="35" height="25">*@

                </div>
                <div class="table-responsive">
                    <table >
                        <tr>
                            <td class="new-proj-table">Project Id</td>
                            <td class="long-text">@Model[0].ProjectDetl[1].ProjId</td>

                        </tr>


                        <tr>
                            <td class="new-proj-table">Proj Name</td>
                         
                            <td id="projectNameCell" class="long-text">
                                <span id="spnprojname">@Model.FirstOrDefault()?.ProjName</span>
                                <span class="ProjectcommentprojId d-none">
                                    @Model.FirstOrDefault()?.ProjId
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <td class="new-proj-table">Aim & Scope</td>
                            <td class="long-text">@Model[0].ProjectDetl[1].AimScope</td>

                        </tr>
                        

                        </tr>
                        @* <tr>
                            <td class="new-proj-table">Timeline</td>
                            <td class="long-text">@Model[0].ProjectDetl[1].MajTimeLines</td>

                        </tr> *@
                        <tr>
                            <td class="new-proj-table">Name of Sponsor</td>
                            <td>@Model.FirstOrDefault()?.InitiatedBy</td>


                        </tr>

                        <tr>
                            <td class="new-proj-table">Mobile No</td>
                            <td>@Model[0].ProjectDetl[1].MobileNo</td>

                        </tr>

                        <tr>
                            <td class="new-proj-table">Ascon No</td>
                            <td>@Model[0].ProjectDetl[1].AsconNo</td>

                        </tr>

                    </table>

                </div>
            </div>
        </div>

    </div>


    <!--Sponsor Details-->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">

        <div class="card radius-10 w-100">
            <div class="card-body">

                <div class="projectheading">
                    Tech Details
                </div>
                <div class="table-responsive">
                    <table  >
                        <tr>
                            <td class="new-proj-table">Tech Stack</td>
                            @*  <td>@Model[0].ProjectDetl[1].TechStackProposed</td>*@

                            @*<td class="tooltip-container" data-tooltip="@Model[0].ProjectDetl[1].TechStackProposed">
                            <span class="short-text">@truncateText(Model[0].ProjectDetl[1].TechStackProposed, 6)</span>
                            <span class="tooltip tooltip-text">@Model[0].ProjectDetl[1].TechStackProposed</span>
                            </td>*@
                            <td class="tooltip-container">
                                <span class="short-text">@truncateText(Model[0].ProjectDetl[1].TechStackProposed, 6)</span>
                                <span class="tooltip tooltip-text">@Model[0].ProjectDetl[1].TechStackProposed</span>
                            </td>

                        </tr>

                        <tr>
                            <td class="new-proj-table">Usage</td>
                            @*<td>@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>*@
                            <td class="tooltip-container">
                                <span class="short-text">@truncateText(Model[0].ProjectDetl[1].UsabilityofProposedAppln, 6)</span>
                                <span class="tooltip tooltip-text">@Model[0].ProjectDetl[1].UsabilityofProposedAppln</span>
                            </td>

                        <tr>
                            <td class="new-proj-table">Type of SW</td>
                            <td>@Model[0].ProjectDetl[1].TypeofSW</td>
                        <tr>
                            <td class="new-proj-table">Bandwidth</td>
                            <td>@Model[0].ProjectDetl[1].NWBandWidthReqmt</td>

                        </tr>
                        <tr>
                            <td class="new-proj-table">Hosted On</td>
                            <td>@Model[0].HostedOn</td>

                        </tr>
                      
                        

                        

                    </table>

                </div>
            </div>
        </div>

    </div>


    <!--Tech Details-->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">

        <div class="card radius-10 w-100">
            <div class="card-body">

                <div class="projectheading">
                    Other Details
                </div>
                <table>
                    <tr>
                        <td class="new-proj-table">Envisaged(Rs)</td>
                        <td>@Model[0].ProjectDetl[1].EnvisagedCost</td>

                    </tr>

                    <tr>
                        <td class="new-proj-table">Dply Type</td>
                        <td>@Model[0].AppDesc</td>

                    </tr>
                    <tr>
                        <td class="new-proj-table">Devp</td>
                        <td>@Model[0].ProjectDetl[1].BeingDevpInhouse</td>

                    </tr>
                    
                </table>
            </div>
        </div>

    </div>


</div>


<div class="modal fade" id="myModalPagehistoryAttechment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal-sizes">
        <div class="modal-content modal-content-new">
            <div class="modal-header">
                <h5 class="modal-title">ATTACHMENTS</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <div id="myModalContenthistoryAttechment">
                </div>
            </div>
        </div>
    </div>

</div>

<!--  PDF START -->




<div >
    @{
        Projmove pmove = new Projmove();
        pmove.DataProjId = Model[0].ProjId;
        pmove.Atthistory = Model[0].Atthistory;
        pmove.tounitid = ViewBag.lasttounit;


    }
    @Html.Partial("_projfwdupload", pmove,
            new ViewDataDictionary(ViewData)
    {
        ["DataProjId"] = pmove.DataProjId,
        ["Tounitid"] = ViewBag.lasttounit

    }
            )
</div>



<div class="container" hidden="hidden">
    <div id="myPDF" data-page-number="1" role="region" aria-label="Page 1" data-loaded="true">
        <div class="card-body">
            <div id="widget-content">
                <!-- Main Table -->
                <div class="content">
                    <div class="col-4">
                        <div id="checklist" class="ph-section-title">
                            @Model.FirstOrDefault()?.ProjName : CHECKLIST
                        </div>

                        <table id="htmlTopdf" class="ph-pdf-table">
                            <thead>
                                <tr>
                                    <th class="ph-pdf-th">Ser No</th>
                                    <th id="Descrption" class="ph-pdf-th">Heading</th>
                                    <th class="ph-pdf-th">Description</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">1.</td>
                                    <td class="ph-pdf-td-left-30">Proj Name</td>
                                    <td class="ph-pdf-td-left">
                                        @(Model.FirstOrDefault()?.ProjName ?? "No Project Name")
                                    </td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">2.</td>
                                    <td class="ph-pdf-td-left-30">Name of Sponsor</td>
                                    <td class="ph-pdf-td-left">@Model.FirstOrDefault()?.InitiatedBy</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">3.</td>
                                    <td class="ph-pdf-td-left-30">Typeof SW (Bespoke/COTS/Customised)</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].TypeofSW</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">4.</td>
                                    <td class="ph-pdf-td-left-30">Brief justification on reqmt for devp of SW appl:</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].ReqmtJustification</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">5.</td>
                                    <td class="ph-pdf-td-left-30">Aim & Scope (Purpose incl utility,beneficiaries and tgt users):</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].AimScope</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">6.</td>
                                    <td class="ph-pdf-td-left-30">
                                        To be hosted on Internet/ADN with brief Desc:
                                    </td>
                                    <td class="ph-pdf-td-left">@Model[0].HostedOn</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">7.</td>
                                    <td class="ph-pdf-td-left-30">Being devp in house or through IT funds</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].BeingDevpInhouse</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">8.</td>
                                    <td class="ph-pdf-td-left-30">
                                        Usability of proposed appl by other arms/service/org/ est
                                    </td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">9.</td>
                                    <td class="ph-pdf-td-left-30">HW and IT infrastructure reqd :</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].HQandITinfraReqd</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">10.</td>
                                    <td class="ph-pdf-td-left-30">Brief details of content of the proposed SW appl:</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].ContentofSWApp</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-subheading" colspan="3">
                                        Addl Details (Optional in Pre Apvl Stg: Mandatory in Post Apvl Stg)
                                    </td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">13.</td>
                                    <td class="ph-pdf-td-left-30">
                                        Envisage cost of entire proj incl license fees and maint ;
                                    </td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].EnvisagedCost</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">14.</td>
                                    <td class="ph-pdf-td-left-30">Project dt of completion incl maj timelines :</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].MajTimeLines</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">15.</td>
                                    <td class="ph-pdf-td-left-30">
                                        Brief details of SW platform and tech stack proposed for devp of appl incl op sys dependencies (if any):
                                    </td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].TechStackProposed</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">16.</td>
                                    <td class="ph-pdf-td-left-30">Brief details of proposed network and bandwidth reqmts;</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].NWBandWidthReqmt</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">17.</td>
                                    <td class="ph-pdf-td-left-30">Brief details of OS & Sys software reqmts :</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].Detlsof_OS</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">18.</td>
                                    <td class="ph-pdf-td-left-30">
                                        Brief details of proposed data security measures incl backup of data
                                    </td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].DataSecurity_backup</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">19.</td>
                                    <td class="ph-pdf-td-left-30">Brief details of proposed DB Engine to be Used in the Appl.</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].ProposedDB_Engine</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">20.</td>
                                    <td class="ph-pdf-td-left-30">Detls of Sw Architecture and COTS Sw proposed to be utilised</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].DetlsofSw_Architecture</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">21.</td>
                                    <td class="ph-pdf-td-left-30">Detls of proposed architecture</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].DetlsofProposed_Architecture</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">22.</td>
                                    <td class="ph-pdf-td-left-30">
                                        Brief details of proposed utilisation of Public Key Infra(PKI) and Iden and Access Mgt(IAM)
                                    </td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].DetlsPki_IAM</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">23.</td>
                                    <td class="ph-pdf-td-left-30">Technology dependencies(if any)</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].Technology_dependencies</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">24.</td>
                                    <td class="ph-pdf-td-left-30">Database reqmts</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].Database_reqmts</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">25.</td>
                                    <td class="ph-pdf-td-left-30">Enhancement/upgradation(incl patch mgt/Sw updt procedure and mechanism)</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].Enhancement_upgradation</td>
                                </tr>

                                <tr class="ph-pdf-tr">
                                    <td class="ph-pdf-td-center-5">26.</td>
                                    <td class="ph-pdf-td-left-30">Details of licensing(if any)</td>
                                    <td class="ph-pdf-td-left">@Model[0].ProjectDetl[1].Details_licensing</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-8">
                        <div id="movment" class="section-title ph-section-title">
                            @Model.FirstOrDefault()?.ProjName : MOVEMENT
                        </div>

                        <table class="ph-pdf-table">
                            <thead>
                                <tr>
                                    <th class="ph-pdf-th">Ser No</th>
                                    <th class="ph-pdf-th">Date</th>
                                    <th class="ph-pdf-th">FromStakeHolder</th>
                                    <th class="ph-pdf-th">ToStakeHolder</th>
                                    <th class="ph-pdf-th">Stage</th>
                                    <th class="ph-pdf-th">SubStage</th>
                                    <th class="ph-pdf-th">Action</th>
                                    <th class="ph-pdf-th">Remarks</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    int snoa3 = 0;
                                }
                                @foreach (var history in ViewBag.ProjMovementHist)
                                {
                                    <tr>
                                        <td class="ph-pdf-th">
                                            @{
                                                snoa++;
                                            }
                                            @snoa
                                            <span class="d-none" id="SpnStatusid">@history.StatusId</span>
                                            <span class="d-none" id="SpnActionsid">@history.ActionsId</span>
                                            <span class="d-none" id="SpnStagesid">@history.StageId</span>
                                            <span class="d-none" id="SpnFromUnitid">@history.FromUnitId</span>
                                            <span class="d-none" id="spnStakeholderid">@history.StakeHolderId</span>
                                            <span class="d-none" id="spnLatestActiontype">@history.LatestActionType</span>
                                        </td>

                                        <td class="ph-pdf-th">@history.Date</td>
                                        <td class="ph-pdf-th">@history.FromUnitName</td>
                                        <td class="ph-pdf-th">@history.ToUnitName</td>
                                        <td class="ph-pdf-th">@history.Stages</td>
                                        <td class="ph-pdf-th">
                                            @if (history.IsComment == true)
                                            {
                                                <spna>@history.ToUnitName for Comments</spna>
                                            }
                                            else
                                            {
                                                @history.Status
                                            }
                                        </td>
                                        <td class="ph-pdf-th">@history.Actions</td>
                                        <td class="ph-pdf-th">@history.Remarks</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div id="comments" class="section-title ph-section-title">
                            @Model.FirstOrDefault()?.ProjName : Comments
                        </div>

                        <div id="ChatBoxPDF" class="ph-pdf-table">
                            <input type="hidden" id="hiddenPsmId" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PDF END -->
@{
    snoa = 0;
}
<div class="card bi-ui-radios-30 w-100" id="PopUpHide">
    <div class="card-body">
        <div class="projectheading ph-heading-center">
            <h6 class="ph-heading-title">Project Movement</h6>
        </div>

        <table id="SoftwareType" class="table table-striped table-bordered ph-softtype-table">
            <thead>
                <tr>
                    <th>Ser No</th>
                    <th>TimeStamp</th>
                    <th>FromStakeHolder</th>
                    <th>ToStakeHolder</th>
                    <th>Stage</th>
                    <th>SubStage</th>
                    <th>Action</th>
                    <th>Remarks</th>
                    <th>#Att</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var history in ViewBag.ProjMovementHist)
                {
                    <tr>
                        <td class="ph-td-w1">
                            @{
                                snoa++;
                            }
                            @snoa
                        </td>

                        <td>@history.Date</td>

                        <td>
                            @if (history.IsPulledBack == true)
                            {
                                var fromUnitName = history.FromUnitName ?? "";
                                string insideBracket = "";

                                int start = fromUnitName.IndexOf('(');
                                int end = fromUnitName.IndexOf(')');

                                if (start != -1 && end != -1 && end > start)
                                {
                                    insideBracket = fromUnitName.Substring(start + 1, end - start - 1).Trim();
                                }

                                @insideBracket
                            }
                            else
                            {
                                <div class="col-md-12">
                                    <div class="RefLetter-container p-2 ph-pill-mini">
                                        <div class="tooltip-container" data-tooltip="@history.FromUnitName">
                                            <span class="short-text noExport">@truncateText(history.FromUnitName, 4)....</span>
                                            <span class="RefLetter">@history.FromUnitName</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>

                        <td>@history.ToUnitName</td>
                        <td>@history.Stages</td>

                        <td>
                            @if (history.IsComment == true)
                            {
                                <spna>@history.ToUnitName for Comments</spna>
                            }
                            else
                            {
                                @history.Status
                            }
                        </td>

                        <td class="@(history.Actions == "Approved" ? "ph-action-approved" : "")">
                            <div class="d-flex">
                                @history.Actions

                                @if (history.IsCc == true)
                                {
                                    <div class="col-md-2">
                                        <div class="RefLetter-container btn btn-warning p-2 ph-pill-mini">
                                            <div class="tooltip-container" data-tooltip="@history.CcUnits">
                                                <span class="short-text" id="IsccForRemoveRow">Cc</span>
                                                <span class="RefLetter">@history.CcUnits</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </td>

                        <td class="wrap">
                            @if (history.IsPulledBack == true && history.UndoRemarks == null)
                            {
                                <div class="col-md-12">
                                    <div class="RefLetter-container p-2 ph-pill-mini">
                                        <div class="tooltip-container d-flex" data-tooltip="𝐏𝐮𝐥𝐥𝐞𝐝 𝐁𝐚𝐜𝐤 𝐁𝐲: - @history.Remarks">
                                            <span class="short-text noExport">
                                                𝐏𝐮𝐥𝐥𝐞𝐝 𝐁𝐚𝐜𝐤 𝐁𝐲: -  @(history.Remarks.Length > 14 ? history.Remarks.Substring(0, 14) + "..." : history.Remarks)
                                            </span>

                                            <span class="RefLetter copyitem">𝐏𝐮𝐥𝐥𝐞𝐝 𝐁𝐚𝐜𝐤 𝐁𝐲: - @history.Remarks</span>
                                            <span class="btncopy ph-copy-push" title="Copy Remarks">
                                                <i class="fa-solid fa-copy ph-copy-icon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="col-md-12">
                                    <div class="RefLetter-container p-2 ph-pill-mini">
                                        <div class="tooltip-container d-flex" data-tooltip="@history.Remarks">
                                            @if (history.IsComment == false)
                                            {
                                                @if (history.Remarks != null && @history.Remarks != "")
                                                {
                                                    <span class="short-text noExport">
                                                        @(history.Remarks.Length > 15 ? history.Remarks.Substring(0, 14) + "..." : history.Remarks)
                                                    </span>
                                                }

                                                <span class="RefLetter copyitem">@history.Remarks</span>
                                                <span class="btncopy ph-copy-push" title="Copy Remarks">
                                                    <i class="fa-solid fa-copy ph-copy-icon"></i>
                                                </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>

                        <td>
                            @if (history.AttCnt > 0)
                            {
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@history.PsmId">
                                    <img src="/assets/images/icons/attachemnts_clip.png" alt="Icon" class="anchorimage">
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@{
    snoa = 0;
}
<div class="card bi-ui-radios-30 w-100">
    <div class="card-body">
        <div class="projectheading ph-heading-center">
            <span id="ipAdd" class="d-none">@TempData["ipadd"]</span>
            <h6 class="ph-heading-title">Comment By Stakeholders</h6>
        </div>

        <div class="chat-messages ph-chat-mt3" id="ChatBox">
            <!-- Your chat messages go here -->
        </div>
    </div>
</div>




@await Html.PartialAsync("_ProjectPendingStatus")
<script src="~/developerjs/mtable.js"></script>
<script src="~/developerjs/projectstckholdercommentforprojhistory.js"></script>
<script src="~/developerjs/projectstkholdercomments.js"></script>
<script src="~/developerjs/FwdProject.js"> </script>

@functions {
    public string truncateText(string text, int maxWords)
    {
        if (string.IsNullOrWhiteSpace(text))
        {
            return string.Empty;
        }

        var words = text.Split(' ');
        var truncatedText = string.Join(' ', words.Take(maxWords));
        return truncatedText;
    }
}




