@using swas.BAL.DTO
@model List<ProjHistory>
@{
    ViewBag.Title = "Project History List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sno = 0;
    int? DataProjId = ViewBag.DataProjId as int?;
}

	@{
    int snoa3 = 0;
}
<style>
    .long-text {
        max-width: 300px;
        overflow: auto;
        text-overflow: inherit;
        white-space: nowrap;
    }

</style>

<div class="row">

    <!--Proj Details-->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">

        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="projectheading">
                    Proj Details    <img src="~/assets/images/icons/pdfimg.png" onclick="PrintDiv()" alt="Pdf Download" width="35" height="25">

                </div>
                <table class="new-proj-table" style="width: 100%;">
                    <tr>
                        <td>Proj Name</td>
                        <td>
                            @Model.FirstOrDefault()?.ProjName
                        </td>

                    </tr>
                    <tr>
                        <td>Aim & Scope</td>
                        <td class="long-text">@Model[0].ProjectDetl[1].AimScope</td>

                    </tr>
                    <tr>
                        <td>Usability of Proposed Appln</td>
                        <td>@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>

                    </tr>
                    <tr>
                        <td>Major Timeline..?</td>
                        <td>@Model[0].ProjectDetl[1].MajTimeLines</td>

                    </tr>
                    <tr>
                        <td>Name of Sponsor</td>
                        <td>@Model.FirstOrDefault()?.InitiatedBy</td>


                    </tr>

                </table>
            </div>
        </div>

    </div>


    <!--Sponsor Details-->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">

        <div class="card radius-10 w-100">
            <div class="card-body">

                <div class="projectheading">
                    Tech Details
                </div>
                <table class="new-proj-table" style="width: 100%;">
                    <tr>
                        <td>Proposed Tech Stack</td>
                        <td>@Model[0].ProjectDetl[1].TechStackProposed</td>

                    </tr>
                    <tr>
                        <td>Type of Software</td>
                        <td>@Model[0].ProjectDetl[1].TypeofSW</td>
                    <tr>
                        <td>NW Bandwidth Reqmt</td>
                        <td>@Model[0].ProjectDetl[1].NWBandWidthReqmt</td>

                    </tr>
                    <tr>
                        <td>Hosted On</td>
                        <td>@Model[0].ProjectDetl[1].Hostedon</td>

                    </tr>
                    <tr>
                        <td>Deployment Type</td>
                        <td>@Model[0].ProjectDetl[1].Deplytype</td>

                    </tr>
                    <tr>
                        <td>Being Devp In House..?</td>
                        <td>@Model[0].ProjectDetl[1].BeingDevpInhouse</td>

                    </tr>
                </table>
            </div>
        </div>

    </div>


    <!--Tech Details-->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">

        <div class="card radius-10 w-100">
            <div class="card-body">

                <div class="projectheading">
                    Other Details
                </div>
                <table class="new-proj-table" style="text-align:center; width: 100%;">
                    <tr>
                        <td>Envisaged Cost</td>
                        <td>@Model[0].ProjectDetl[1].EnvisagedCost</td>

                    </tr>
                    <tr>
                        <td>Content of SW Appln</td>
                        <td>@Model[0].ProjectDetl[1].ContentofSWApp</td>

                    </tr>
                    <tr>
                        <td>Usability of Propsed Appln</td>
                        <td>@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>

                    </tr>
                    <tr>
                        <td>Reqmt Justification</td>
                        <td class="long-text">@Model[0].ProjectDetl[1].ReqmtJustification</td>

                    </tr>

                </table>
            </div>
        </div>

    </div>


</div>



<div id='myModal' class='modal' style="width: 85% !important; margin-left: 79px !important;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 203% !important">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

<!--  PDF START -->



<div class="container" hidden="hidden">
    <div id="myPDF" data-page-number="1" role="region" style="width: calc(var(--scale-factor) * 595.32px); height: calc(var(--scale-factor) * 842.04px);" aria-label="Page 1" data-loaded="true">
        <div class="col-20 col-lg-20 col-xl-10 d-flex">

            <div class="card-body">
                <div class="col-20 col-lg-20 col-xl-10 d-flex">
                </div>



                <div id="widget-content">


                    <table id="htmlTopdf" style="width:100%; border: 1px solid black; border-collapse:collapse;">
                        <thead class="col-20 col-lg-20 col-xl-10 d-flex">
                        </thead>
                        <tbody>
                            <div id="checklist" style="text-align:center; margin-top:30px; margin-block-end:20px; font-size:20px;font-weight:bold;text-decoration:underline; ">
                                @Model.FirstOrDefault()?.ProjName : CHECKLIST
                            </div>

                            <tr>
                                <th style="text-align: center; border: 1px solid black; border-collapse:collapse;"> Ser No</th>
                                <th id="Descrption" style="text-align: center; border: 1px solid black; border-collapse:collapse;">Descrption</th>
                                <th style="text-align: center; border: 1px solid black; border-collapse:collapse;">Information of Descrption</th>
                            </tr>


                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">1.</td>

                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">Proj Name</td>

                                <td style="text-align:left;">
                                    @(Model.FirstOrDefault()?.ProjName ?? "No Project Name")
                                </td>

                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">2.</td>

                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">Name of Sponsor</td>

                                <td style="text-align:left">
                                    @Model.FirstOrDefault()?.InitiatedBy
                                </td>

                            </tr>

                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">3.</td>

                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">Typeof SW (Bespoke/COTS/Customised)</td>

                                <td style="text-align:left;">
                                    @Model[0].ProjectDetl[1].TypeofSW
                                </td>

                            </tr>


                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">4.</td>
                                <td style="width:100%;text-align:left; border:1px solid black;border-collapse:collapse" colspan="2">

                                    <u class="text">
                                        Brief justification on reqmt for devp of SW appl:
                                    </u>
                                    <br /> &nbsp;&nbsp;  @Model[0].ProjectDetl[1].ReqmtJustification

                                </td>
                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">5.</td>
                                <td style="width:100%;text-align:left; border:1px solid black;border-collapse:collapse " colspan="2">

                                    <u>
                                        Aim & Scope (Purpose incl utility,beneficiaries and tgt users):
                                    </u>
                                    <br /> &nbsp;&nbsp;  @Model[0].ProjectDetl[1].AimScope
                                </td>
                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">6.</td>
                                <td style="width:100%;text-align:left; border:1px solid black;border-collapse:collapse " colspan="2">

                                    <u>
                                        To be hosted on Internet/ADN with brief
                                        Desc:
                                    </u>
                                    <br /> &nbsp;&nbsp;  @Model[0].ProjectDetl[1].Hostedon
                                </td>
                            </tr>



                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">7.</td>

                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">Being devp in house or through IT funds</td>

                                <td style="text-align:left">
                                    @Model[0].ProjectDetl[1].BeingDevpInhouse
                                </td>

                            </tr>


                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">8.</td>

                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">
                                    Usability of proposed appl by other
                                    arms/service/org/ est
                                </td>

                                <td style="text-align:left">
                                    @Model[0].ProjectDetl[1].UsabilityofProposedAppln
                                </td>

                            </tr>



                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">9.</td>
                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">

                                    HW and IT infrastructure reqd :
                                </td>
                                <td style="text-align:left">
                                    @Model[0].ProjectDetl[1].HQandITinfraReqd
                                </td>

                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">10.</td>
                                <td style="width:100%;text-align:left; border:1px solid black;border-collapse:collapse " colspan="2">

                                    <u>
                                        Brief details of content of the proposed SW
                                        appl:
                                    </u>
                                    <br />&nbsp;&nbsp; @Model[0].ProjectDetl[1].ContentofSWApp
                                </td>
                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">11.</td>
                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">

                                    Endorsement by Head of Br/Svc/Fmn ;
                                </td>
                                <td style="text-align:left">

                                    @Model[0].ProjectDetl[1].EndorsmentbyHeadof
                                </td>
                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">12.</td>
                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">

                                    Details of user base
                                </td>
                                <td style="text-align:left">

                                    @Model[0].ProjectDetl[1].DetlsofUserBase
                                </td>
                            </tr>

                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="text-align: left; font-weight:bold" colspan="3">
                                    Addl Details (Optional in Pre Apvl Stg: Mandatory in Post Apvl Stg)
                                </td>
                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">13.</td>
                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">

                                    Envisage cost of entire proj incl license
                                    fees and maint ;
                                </td>
                                <td style="text-align:left">

                                    @Model[0].ProjectDetl[1].EnvisagedCost
                                </td>
                            </tr>

                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">14.</td>
                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">

                                    Project dt of completion incl maj timelines ;
                                </td>
                                <td style="text-align:left">

                                    @Model[0].ProjectDetl[1].MajTimeLines
                                </td>
                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">15.</td>
                                <td style="width:100%;text-align:left; border:1px solid black;border-collapse:collapse " ; colspan="2">

                                    <u>
                                        Brief details of SW platform and tech stack
                                        proposed for devp of appl incl op sys
                                        dependencies (if any):
                                    </u>
                                    <br /> &nbsp;&nbsp;  @Model[0].ProjectDetl[1].DetlsofUserBase
                                </td>
                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">16.</td>
                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">

                                    Brief details of proposed network and
                                    bandwidth reqmts;
                                </td>
                                <td style="text-align: left">

                                    @Model[0].ProjectDetl[1].NWBandWidthReqmt
                                </td>
                            </tr>
                            <tr style="width:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">17.</td>
                                <td style="width:50%;text-align:left; border:1px solid black;border-collapse:collapse ">

                                    Brief details of OS & Sys software reqmts ;
                                </td>
                                <td style="text-align:left">

                                    @Model[0].ProjectDetl[1].HQandITinfraReqd
                                </td>
                            </tr>
                            <tr style="width:100%; height:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">18.</td>
                                <td style="width:100%;text-align:left; border:1px solid black;border-collapse:collapse " colspan="2">

                                    <u class="text">
                                        Brief details of proposed data security
                                        measures incl backup of data
                                    </u> :
                                    <br />&nbsp;&nbsp; @Model[0].ProjectDetl[1].DataSecurity_backup
                                </td>
                            </tr>
                            <tr style="width:100%; height:100%; border: 1px solid black; border-collapse:collapse;">
                                <td style="width:10%;text-align:center;border:1px solid black;border-collapse:collapse">19.</td>
                                <td style="width:100%;text-align:left; border:1px solid black;border-collapse:collapse " colspan="2">

                                    <u class="text">
                                        Deployment Type
                                    </u> :
                                    <br />&nbsp;&nbsp; @Model[0].ProjectDetl[1].Deplytype
                                </td>
                            </tr>

                        </tbody>
                        @{
                            snoa3 = 0;
                        }
                    </table>

                    <table style="width:100%; border: 1px solid black; border-collapse:collapse;">


                        <thead class="col-20 col-lg-20 col-xl-10 d-flex">
                            <tr>
                                <th style="text-align: center; border: 1px solid black;">Ser No</th>
                                <th style="text-align: center; border: 1px solid black;">Date</th>
                                <th style="text-align: center; border: 1px solid black;">Status</th>
                                <th style="text-align: center; border: 1px solid black;">Fwd Fm</th>
                                <th style="text-align: center; border: 1px solid black;">Fwd To</th>
                                <th style="text-align: center; border: 1px solid black;">Remarks</th>

                                <th style="text-align: center; border: 1px solid black;">Comment</th>

                            </tr>
                        </thead>
                        <tbody>
                            <div id="movment" style="text-align:center; margin-top:30px; margin-block-end:20px; font-size:20px;font-weight:bold;text-decoration:underline;page-break-before:always; ">
                                @Model.FirstOrDefault()?.ProjName : MOVEMENT
                            </div>
                         
                            @foreach (var history in Model)
                            {
                                <tr>

                                    <td style="text-align: center; border: 1px solid black;">
                                        @{
                                            snoa3++;
                                        }
                                        
                                    </td>
                                    <td style="text-align: center; border: 1px solid black;">@history.TimeStamp</td>
                                    <td style="text-align: center; border: 1px solid black;">@history.Status</td>
                                    <td style="text-align: center; border: 1px solid black;">@history.FromStakeHolder</td>
                                    <td style="text-align: center; border: 1px solid black;">@history.CurrentStakeHolder</td>

                                    @*<td>@history.Stages</td>*@
                                    <td style="text-align: center; border: 1px solid black;">
                                        @history.Remarks
                                    </td>
                                    <td style="text-align: center; border: 1px solid black;">@history.Comment</td>

                                </tr>
                            }
                        </tbody>
                    </table>


                    <!-- Stakeholder Details Table -->
                    <table style="width:100%; border: 1px solid black; border-collapse:collapse;">
                        <thead class="col-20 col-lg-20 col-xl-10 d-flex">
                            <tr>
                                <th style="text-align: center; border: 1px solid black;"> Ser No</th>
                                <th style="text-align: center; border: 1px solid black;">Stakeholder</th>
                                <th style="text-align: center; border: 1px solid black;">Date</th>
                                <th style="text-align: center; border: 1px solid black;">Comment</th>
                                <th style="text-align: center; border: 1px solid black;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div id="movment" style="text-align:center; margin-top:30px; margin-block-end:20px; font-size:20px;font-weight:bold;text-decoration:underline;page-break-before:always; ">
                                @Model.FirstOrDefault()?.ProjName : COMMENTS
                            </div>
                            @foreach (var history in ViewBag.CommentByStakeholderList)
                            {
                                if (history.Comment != string.Empty)
                                {

                                    <tr>
                                        <td style="text-align: center; border: 1px solid black;">@(++snoa3)</td>
                                        <td style="text-align: center; border: 1px solid black;">@history.stakeholder</td>
                                        <td style="text-align: center; border: 1px solid black;">@history.DateTimeOfUpdate.ToString("dd-MM-yyyy")</td>
                                        <td style="text-align: center; border: 1px solid black;">@history.Comment</td>
                                        <td style="text-align: center; border: 1px solid black;">@history.Action</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>


                </div>

            </div>



        </div>

    </div>


</div>




<!-- PDF END -->




<div class="card bi-ui-radios-30 w-100" id="PopUpHide">
    @Html.Partial("_fwdprojhistory",Model)

</div>


<script type="text/javascript">
    $(document).ready(function () {

        var TeamDetailPostBackURL = '/Projects/AttDetails';
        $(function () {
            $(".anchorDetail").click(function () {

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {

                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });

            });

        });





        $(document).on('click', '.pdf', function () {
            $('#ViewRecordsHistory').modal('show');
        });
    });
</script>

<script>


    document.addEventListener("DOMContentLoaded", function () {
        const pdfInput = document.getElementById("pdfInput");
        const pdfList = document.getElementById("pdfList");
        const selectedFileList = document.getElementById("selected-file-list");
        const remarksInput = document.getElementById("remarksInput");
        const uploadedFiles = [];

        pdfInput.addEventListener("change", handleFileUpload);

        function handleFileUpload(event) {

            const files = event.target.files;
            for (const file of files) {
                const fileType = file.type;

                if (fileType.includes("image") || fileType === "application/pdf") {
                    const pdfItem = createPDFItem(file);
                    pdfList.appendChild(pdfItem);

                    uploadedFiles.push({
                        file: file,
                        pdfItem: pdfItem,
                        remarks: ""
                    });

                    pdfInput.value = "";
                    updateSelectedFileList();
                }
            }
        }

        function createPDFItem(file) {
            const pdfItem = document.createElement("div");
            pdfItem.className = "pdf-item";
            pdfItem.setAttribute("data-filename", file.name);

            const pdfPreview = document.createElement("div");
            pdfPreview.className = "pdf-preview";

            const reader = new FileReader();
            reader.onload = function () {
                const fileType = file.type;

                if (fileType.includes("image")) {
                    pdfPreview.innerHTML = `<img src="${reader.result}" alt="Image Preview" class="image-preview">`;
                } else if (fileType === "application/pdf") {
                    pdfPreview.innerHTML = `<embed src="${reader.result}" type="application/pdf" width="100%" height="400px" />`;
                }
            };
            reader.readAsDataURL(file);

            const deleteButton = document.createElement("button");
            deleteButton.innerHTML = "&times;";
            deleteButton.className = "delete-button";
            deleteButton.addEventListener("click", () => {
                pdfList.removeChild(pdfItem);
                const index = uploadedFiles.findIndex(item => item.pdfItem === pdfItem);
                if (index !== -1) {
                    uploadedFiles.splice(index, 1);
                }
                pdfInput.value = "";

                updateSelectedFileList();
            });

            pdfItem.appendChild(pdfPreview);
            pdfItem.appendChild(deleteButton);

            return pdfItem;
        }

        function formatFileSize(size) {
            const units = ['B', 'KB', 'MB', 'GB'];
            let index = 0;
            while (size >= 1024 && index < units.length - 1) {
                size /= 1024;
                index++;
            }
            return `${size.toFixed(2)} ${units[index]}`;
        }

        function updateSelectedFileList() {
            const selectedFileList = document.getElementById("selectedFileList");
            selectedFileList.innerHTML = "";

            for (const uploadedFile of uploadedFiles) {
                const listItem = document.createElement("li");
                const remarks = uploadedFile.remarks !== "" ? uploadedFile.remarks : "No Remarks";
                const fileSize = formatFileSize(uploadedFile.file.size);
                listItem.innerHTML = `<a href="#" class="popup-link">${uploadedFile.file.name} (${fileSize}) - Remarks: ${remarks}</a>`;
                selectedFileList.appendChild(listItem);
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const popup = document.getElementById("popup");
            const closePopupButton = document.getElementById("closePopup");

            const popupLinks = document.querySelectorAll(".popup-link");
            popupLinks.forEach(link => {
                link.addEventListener("click", function (event) {
                    event.preventDefault();
                    popup.style.display = "block";
                });
            });

            closePopupButton.addEventListener("click", function () {
                popup.style.display = "none";
            });
        });



        remarksInput.addEventListener("input", function () {
            const remarks = remarksInput.value;
            const lastFileIndex = uploadedFiles.length - 1;
            uploadedFiles[lastFileIndex].remarks = remarks;
            updateSelectedFileList();
        });
        updateSelectedFileList();
    });


</script>

<script type="text/javascript">
    function PrintDiv() {
        var divToPrint = document.getElementById('widget-content');
        var popupWin = window.open('', '_blank', 'width=800,height=800,location=Center,Center=20px');
        popupWin.document.open();
        var table_style = document.getElementById("table_style").innerHTML;
        popupWin.document.write('<style type = "text/css">');
        popupWin.document.write(table_style);
        popupWin.document.write('</style>')
        popupWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '<div style="transform: rotate(-45deg);z-index:10000;opacity: 0.3;color: BLACK; position:fixed;top: auto; left: 6%; top: 39%;color: #8e9191;font-size: 80px; font-weight: 500px;display: grid;justify-content: center;align-content: center;">' + '@(TempData["ipadd"])' + " " + '</html>');

        popupWin.document.close();
    }
</script>


<style id="table_style" type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

</style>
<style>

    #checklist th, #checklist td {
        margin-top: 30px;
        font-size: 20px;
        padding: 5px;
        border: 1px solid #000000;
        font-weight: bold;
        text-decoration: underline;
    }

</style>