@using swas.DAL.Models
@{
   
    ViewData["Title"] = "Proj Comments";
    int sno = 0;
         

}
<!----Table for Stakeholder Status Change----->

<div class="card-body">
    <div class="card radius-10 w-100">
        <div class="card-body">

            <table id="IndexTable" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>Ser No</th>
                       @*  <th>Att</th> *@
                        <th>Project</th>
                        <th>Stakeholder</th>
                        <th>Held With</th>
                        <th> Comment</th>
                        <th>Updated on</th>

                        @foreach (var project in ViewBag.stakeholders)
                        {
                            <th>@project.UnitName</th>
                        }

                    </tr>
                </thead>

                <tbody>
                    @foreach (var project in ViewBag.projects)
                    {
                        <tr>
                            <td>
                                @{
                                    sno++;
                                }
                                @sno
                            </td>
                          @*   <td>
                                @if (project.AttCnt > 0)
                                {
                                    <a href="javascript:void(0);" class="anchorDetail" data-id="@project.CurrentPslmId">
                                        <img src="/assets/images/icons/attachemnts_clip.png" alt="Icon" style="width: 31px; height: 29px; margin-right: 0px;">
                                    </a>
                                }
                            </td> *@
                            <td>@project.ProjName</td>
                            <td>@project.UnitName</td>
                            <td>@project.FwdtoUser</td>
                            <td>@project.Comments</td>
                            <td>@project.DateTimeOfUpdate?.ToString("dd-MM-yyyy")</td>


                            @foreach (var th in ViewBag.stakeholders)
                            {
                                dynamic query = ViewBag.query;

                                dynamic statusForStakeholder = null;
                                string buttonColor = "blue-button";

                                if (query != null)
                                {
                                    foreach (dynamic item in query)
                                    {
                                        if (item.StakeholderName == th.UnitName && item.ProjId == project.ProjId && item.PsmId == project.CurrentPslmId)
                                        {
                                            statusForStakeholder = item;
                                            break;
                                        }
                                    }

                                    if (statusForStakeholder != null)
                                    {
                                        var statusCodeForStakeholder = statusForStakeholder.StatusName;

                                        if (statusCodeForStakeholder == "Accepted")
                                        {
                                            buttonColor = "green-button";
                                        }
                                        else if (statusCodeForStakeholder == "Obsn & Rectification")
                                        {
                                            buttonColor = "yellow-button";
                                        }
                                        else if (statusCodeForStakeholder == "Rejected")
                                        {
                                            buttonColor = "red-button";
                                        }
                                    }
                                }

                                <td>
                                    <button type="button" class="btn @buttonColor table-button" data-bs-toggle="modal" data-bs-target="#UnitAdd" data-proj-id="@project.ProjId" data-psm-id="@project.CurrentPslmId" data-stakeholder-id="@th.unitid" data-stakeholder-name="@th.UnitName">
                                    </button>
                                </td>
                            }



                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>



    <div class="modal fade" id="UnitAdd" tabindex="-1" aria-labelledby="ProjectAddLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    @* <h5 class="modal-title" id="UnitAddLabel">Add Action</h5>*@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    @Html.Partial("_CreateTableDetails", new StkComment())

                </div>

            </div>
        </div>
    </div>

    <!----END Table for Stakeholder Status Change----->