@*View Created by Sub Maj M Sanal Kumar on :  05 Nov 23
	Purpose  :   Retrive proj from Draft   :- Resolve the Obsn of Comdt
*@

@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Internal
@using Newtonsoft.Json;
@using swas.BAL.Helpers
@using swas.BAL.Repository
@using swas.DAL
@using swas.DAL.Models
@using swas.BAL.Interfaces
@using swas.BAL.DTO
@inject IHttpContextAccessor _httpContextAccessors;
@model CommonDTO
@{

    int tabshift = ViewBag.tabshift;


}



@{
    ViewBag.Title = "Edit Project";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="~/path/to/styles.css" />
</head>
<body>
    <div class="container-fluid">
        <div id="editFormContainer">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
                    <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                        <div class="newprojectheading">
                            Edit Project
                        </div>

                        @using (Html.BeginForm("ProjDraftUndo", "Projects", FormMethod.Post, new { id = "msformx", enctype = "multipart/form-data" }))
                        {
                            <ul id="progressbar">
                                <li class="active" id="BasicDetailsed"><strong>Project Basic Details</strong></li>
                                <li id="AddlDetailsed"><strong>Project Additional Details</strong></li>
                                <li id="Uploaded"><strong>Upload</strong></li>
                                <li id="confirmed"><strong>Finish</strong></li>
                            </ul>

                            <fieldset id="5">
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title"></h2>
                                        </div>
                                        <div class="col-5">
                                            <div class="steps">Step 1 - 4</div>
                                        </div>
                                    </div>

                                    <table class="new-table">
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(model => model.ProjEdit.ProjId, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.HiddenFor(model => model.ProjEdit.CurrentPslmId, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.LabelFor(model => model.ProjEdit.ProjName, "Project Name")<font class="required">*</font>
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.ProjEdit.ProjName, new { htmlAttributes = new { @class = "form-control", required = "required", onkeyup = "ValInData(this)" } })
                                                <div class="error-message">
                                                    @Html.ValidationMessageFor(model => model.ProjEdit.ProjName, "Project Name Required", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                            <td>
                                                @Html.LabelFor(model => model.ProjEdit.InitiatedDate, "Initiation Date")<font class="required">*</font>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.ProjEdit.InitiatedDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
                                                <div class="error-message">
                                                    @Html.ValidationMessageFor(model => model.ProjEdit.InitiatedDate, "Initiation Date Required", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                            <td>
                                                @Html.LabelFor(model => model.ProjEdit.CompletionDate, "Completion Date")<font class="required">*</font>
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.ProjEdit.CompletionDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", required = "required" })
                                                <div class="error-message">
                                                    @Html.ValidationMessageFor(model => model.ProjEdit.CompletionDate, "Completion Date Required", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                @Html.LabelFor(model => model.ProjEdit.IsWhitelisted, "Is Whitelisted")<font class="required">*</font>
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.ProjEdit.IsWhitelisted, new { htmlAttributes = new { @class = "form-control", required = "required", onkeyup = "ValInData(this)" } })
                                                <div class="error-message">
                                                    @Html.ValidationMessageFor(model => model.ProjEdit.IsWhitelisted, "Whitelist Status Required", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                            <td>
                                                @Html.LabelFor(model => model.ProjEdit.InitialRemark, "Initial Remark")<font class="required">*</font>
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.ProjEdit.InitialRemark, new { htmlAttributes = new { @class = "form-control", required = "required", onkeyup = "ValInData(this)" } })
                                                <div class="error-message">
                                                    @Html.ValidationMessageFor(model => model.ProjEdit.InitialRemark, "Initial Remark Required", new { @class = "text-danger" })
                                                </div>
                                            </td>
                                            <td>
                                                @Html.LabelFor(model => model.ProjEdit.StakeHolderId, "Stakeholder")<font class="required">*</font>
                                            </td>
                                            <td>
                                                @Html.DropDownListFor(model => model.ProjEdit.StakeHolderId, ViewBag.stkhold as SelectList, new { id = "ddlUnitIdedit", @class = "form-control", required = "required" })
                                                <div class="error-message">
                                                    @Html.ValidationMessageFor(model => model.ProjEdit.StakeHolderId, "Stake Holder Required", new { @class = "text-danger" })
                                                </div>
                                                @Html.HiddenFor(model => model.ProjEdit.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.EditorFor(model => model.ProjEdit.DateTimeOfUpdate, new { htmlAttributes = new { @class = "hidden-date form-control", type = "date" } })
                                            </td>
                                        </tr>

                                        <!-- Additional rows can be added in a similar pattern -->

                                    </table>
                                </div>

                                <input type="button" name="next" class="next action-button" value="Next" />
                            </fieldset>

                            <fieldset id="6">
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title"></h2>
                                        </div>
                                        <div class="col-5">
                                            <div class="steps">Step 2 - 4</div>
                                        </div>
                                    </div>

                                    <table class="new-table">
                                        <tr>
                                            <td>
                                                @Html.LabelFor(model => model.ProjEdit.DetlsofUserBase)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.ProjEdit.DetlsofUserBase, new { htmlAttributes = new { @class = "form-control", onkeyup = "ValInData(this)" } })
                                            </td>

                                            <td>
                                                @Html.LabelFor(model => model.ProjEdit.EnvisagedCost)
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(model => model.ProjEdit.EnvisagedCost, new { @class = "form-control", type = "number", id = "envisagedCostInput", onkeyup = "ValInData(this)" })
                                            </td>

                                            <td>
                                                @Html.LabelFor(model => model.ProjEdit.NWBandWidthReqmt)
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.ProjEdit.NWBandWidthReqmt, new { htmlAttributes = new { @class = "form-control", onkeyup = "ValInData(this)" } })
                                            </td>
                                        </tr>

                                        <!-- Additional rows can be added in a similar pattern -->
                                    </table>
                                </div>

                                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                <input type="submit" id="submitUpload" name="next" class="next action-button" value="Next" onclick="submitFormAndExecuteFunction(event)" />
                            </fieldset>

                            <!-- Final Step -->
                            <fieldset id="8">
                                <div class="form-card">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="fs-title"></h2>
                                        </div>
                                        <div class="col-5">
                                            <div class="steps">Step 4 - 4</div>
                                        </div>
                                    </div>

                                    <br><br>
                                    <h2 class="purple-text text-center"><strong>Edited and Fwd!</strong></h2>
                                    <br><br />

                                    <div class="purple-text text-center">
                                        <center>
                                            <a href="/Projects/ClearTempDataAndRedirect">
                                                <input type="button" class="next action-button" value="Add More Projects" />
                                            </a><br><br>
                                            <a href="/Home/Index">
                                                <input type="button" class="next action-button" value="Dashboard" />
                                            </a>
                                        </center>
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<div class="modal fade" id="UnitAdd" tabindex="-1" aria-labelledby="UnitAddViewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UnitAddLabel">Add Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @Html.Partial("_unitdetls", new UnitDtl { UnitName = "" })

            </div>

        </div>
    </div>
</div>




<script src="~/DeveloperJs/projdraftundo.js"></script>


<br />







