@*View Created by Sub Maj M Sanal Kumar on :  02 Aug 23
    Reviewd by Hav Mani on : 02 Aug 23
*@
@using Microsoft.AspNetCore.Identity
@using static swas.DAL.Models.LegacyHistory
@using System.Text.RegularExpressions
@using swas.BAL.DTO
@using swas.BAL.Helpers;
@using swas.DAL.Models
@model MailBox
@inject IHttpContextAccessor HttpContextAccessor


@{
	Login Logins = SessionHelper.GetObjectFromJson<Login>(HttpContextAccessor.HttpContext.Session, "User");

	// ViewBag.Title = "Projects List";
	Layout = "~/Views/Shared/_Layout.cshtml";
	int snoinbox = 0;
	int snosent = 0;
	int snodraft = 0;
	int snocompleted = 0;
	var remainderList = ViewBag.remainder as List<swas.DAL.Models.trnRemainder>;
}




<link href="~/css/timeline.css" rel="stylesheet" />
<link href="~/assets/css/tooltip.css" rel="stylesheet" />

<style>
	.red-text {
		color: red;
	}

	body {
		font-size: 15px;
	}

	@@media (min-width: 1200px) {
		.modal-xl {
			--bs-modal-width: 1400px;
		}
	}

</style>

<style>

	.tabs__head {
		list-style: none;
		padding: 0;
		display: flex;
	}

		.tabs__head li {
			margin-right: 10px;
		}

		.tabs__head a {
			text-decoration: none;
			padding: 10px 15px;
			border: 1px solid #ccc;
			background-color: #fff; /* Set the default background color */
		}

			.tabs__head a.active-link {
				background-color: white; /* Set the active background color to white */
				border-bottom: 20px solid #dee2e6; /* Adjust this as needed */
			}

	.tabs__content__item {
		display: none;
	}

		.tabs__content__item.active-tab {
			display: block;
		}
</style>

<style>
	.tabs__content__item {
		overflow: auto; /* Add this style to enable scrolling */
		max-height: 700px; /* Set a maximum height for the table to make the scrollbar appear when the content exceeds this height */
	}


		.tabs__content__item::-webkit-scrollbar {
			width: 8px;
		}

		.tabs__content__item::-webkit-scrollbar-thumb {
			background-color: #888;
		}

	.FontSize {
		font-size: 15px;
	}

	.btn-Fwd {
		height: 1.5rem;
		margin-top: -1.5rem;
		padding-top: 0rem
	}

	.btn-FwdHistory {
		height: 1.5rem;
		margin-top: -1.2rem;
		padding-top: 0rem
	}

	.btn-FwdHistorysent {
		height: 1.5rem;
		margin-top: -1.2rem;
		padding-top: 0rem
	}

	.col-width9 {
		width: 9% !important;
	}

	.s-no-column {
		min-width: 40px;
		max-width: 60px;
		width: 5vw;
	}


	/* ------------scrollar */
	/* styles.css */

	.tabs__content__item {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.card {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.card-body {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow-y: hidden; /* Prevent scrolling here */
	}

	.table-wrapper {
		flex: 1;
		overflow-y: auto; /* Enable scrolling */
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 8px;
		text-align: left;
		border-bottom: 1px solid #ddd;
		font-size: 15px;
	}

	th {
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background: #fff;
		z-index: 2; /* Ensure header stays on top */
	}

	tbody tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	.buttonsToHide {
		display: none !important;
	}

	body {
		font-size: 15px !important;
	}

	.bold-text {
		font-weight: bold;
	}

	.custom-modal-size {
		max-width: 85%; /* Set the modal width to 80% of the screen */
		width: 85%; /* Ensure it scales responsively */
		margin: auto; /* Center horizontally */
	}

		.custom-modal-size .custom-modal-content {
			height: 65vh; /* Ensure the content adjusts dynamically */
			overflow-y: auto; /* Add vertical scrolling for long content */
			overflow-x: hidden; /* Prevent horizontal overflow */
			/* margin-left: 248px; */
		}

	/* .swal2-title{
		background-color: #002b5e;
		color: white;
		font-size: 18px;
		padding-bottom: 26px;
		} */
	.pullback-title {
		background-color: #002b5e;
		color: white;
		font-size: 18px;
		padding-bottom: 26px;
		/* add any other styles you need */
	}

	/*  .custom-swal-title {
		background-color: #002b5e;
		color: white;
		font-size: 18px;
		padding-bottom: 26px;
		padding: 10px;
		border-radius: 5px;
		display: inline-block;
		} */


	.custom-modal-size {
		max-width: 80%; /* Increase the width as required */
		width: 75%;
		/* height: 10%; Adjust height if necessary */
		margin: auto;
	}

		.custom-modal-size .modal-content {
			height: 100%; /* Ensure the content fills the modal */
			overflow: auto; /* Add scrolling for long content */
		}

	.modal-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh; /* Full height */
	}

	.tooltip-text {
		background-color: #5a8cd6;
	}

	.to-unit-name {
		min-width: 80px;
		max-width: 120px;
		width: 10vw;
	}

	.projaction {
		min-width: 80px;
		max-width: 150px;
		width: 10vw;
	}

	.disabled-link {
		pointer-events: none;
		opacity: 0.7;
		cursor: not-allowed;
	}

	.select2-container--default .select2-selection--multiple.is-invalid,
	.is-invalid .select2-selection--multiple {
		border-color: #dc3545 !important; /* Bootstrap's red */
		box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
	}

</style>


<link href="~/css/timeline.css" rel="stylesheet" />


<!-- Include jQuery (required for jQuery UI) -->
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
@* <script src="~/content/jquery-3.6.0.min.js"></script> *@

<!-- Include jQuery UI CSS -->
@* <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> *@
<link rel="stylesheet" href="~/content/jquery-ui.css" rel="stylesheet" />
@* <link href="~/content/jquery-ui.css" rel="stylesheet" /> *@
<link href="~/css/projdetails.css" rel="stylesheet" />
<!-- Include jQuery UI JS -->
@* <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> *@
<script src="~/content/jquery-ui.min.js"></script>
<script src="~/developerjs/commandatatable.js"></script>
<body>
	<div class="tabs mt-5" id="tabs">
		<ul class="tabs__head d-flex flex-wrap align-items-center">
			<li class="me-2 mb-1">
				<a class="active-link d-flex align-items-center" href="#" data-tab="inbox" id="tabinbox">
					<img src="~/assets/images/inbox.png" width="20" height="20" class="me-1" /> Inbox
				</a>
			</li>
			<li class="me-2 mb-1">
				<a href="#" class="d-flex align-items-center" data-tab="sent" id="tabsent">
					<img src="~/assets/images/sentmail.png" width="20" height="20" class="me-1" /> Sent
				</a>
			</li>
			<li class="me-2 mb-1">
				<a href="#" data-tab="completed" id="tabcompleted" class="d-flex align-items-center" style="min-width:230px;">
					<img src="~/assets/images/completed.png" width="20" height="20" class="me-1" /> Completed (Hosted On ADN)
				</a>
			</li>
			<li class="me-2 mb-1">
				<a href="#" data-tab="Remainder" id="tabRemainder" class="d-flex align-items-center">
					<img src="~/assets/images/bell.png" width="25" height="25" class="me-1" /> Reminder
				</a>
			</li>
			<li class="me-2 mb-1">
				<a href="#" data-tab="ToCc" id="tabCC" class="d-flex align-items-center">
					<img src="~/assets/images/draft.png" width="20" height="20" class="me-1" /> Cc Projects
				</a>
			</li>
			<li class="me-2 mb-1">
				<a href="#" data-tab="ToParked" id="tabParked" class="d-flex align-items-center">
					<img src="~/assets/images/draft.png" width="20" height="20" class="me-1" /> Parked
				</a>
			</li>
			
		</ul>

		@{
			snoinbox = 0;
		}


		<div class="tabs__content">
			<div class="table-responsive">
				<div class="tabs__content__item active-tab" id="inbox" style="height:100%;">
					<div class="content" style="height:100%;">
						<div class="card radius-10 w-100" style="height:100%;">
							<div class="card-body table-responsive" style="height:100%; overflow-y: auto;">
								<table id="Inbox" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th class="s-no-column">Ser No</th>
											<th style="width:20%">Proj Name</th>
											<th>Sponsor</th>
											<th style="width:9%;">From</th>
											@* <th class="to-unit-name">To Unit Name</th> *@
											<th>Received On</th>
											<th>Stage</th>
											<th>SubStage</th>
											<th>Action</th>
											<th class="projaction">Project Action</th>
											<th>Legacy Pro</th>
										</tr>
									</thead>

									<tbody>

										@foreach (var project in Model.InBox)
										{
											string @classname = "";
											if (project.IsRead == false)
											{
												classname = "bold-text";
											}
											else
											{
												classname = "";
											}

											<tr class="@classname">

												<td data-order="@snoinbox">
													@{
														snoinbox++;
													}
													<span>@snoinbox</span>
													@* Visible content *@

													@if (@project.HasRemainder1 == true && project.IsCc == false)
													{
														<div class="hover-container" style="position: relative; display:inline" id="notificationContainer @project.ProjId">
															<div style="position: relative; display: inline-block; margin-left: 5px;" id="ReadRemainderNoti" data-projid="@project.ProjId">
																<img src="/assets/images/icons/notification-unscreen.gif" alt="Notification" style="width:30px; height:30px;" />

																@if (project.RemainderCount > 0)
																{
																	<span class="badge3" id="Remainderbedge" style="position: absolute; top: -5px; right: -5px; background-color: red; color: white; border-radius: 50%; padding: 2px 6px; font-size: 12px;">
																		@project.RemainderCount
																	</span>
																}
															</div>
															@if (!string.IsNullOrWhiteSpace(project.LatestRemarks))
															{
																<div class="hover-popup custom-popup-glass">
																	<h6 class="popup-title"> Remarks</h6>
																	<ul class="popup-list">
																		@if (!string.IsNullOrWhiteSpace(project.LatestRemarks))
																		{
																			var remarks = System.Text.RegularExpressions.Regex
																			.Split(project.LatestRemarks ?? "", @"(?=\([^)]+\):)")
																			.Where(r => !string.IsNullOrWhiteSpace(r));
																			foreach (var remark in remarks)
																			{
																				<li style="margin-bottom: 5px;">
																					<i class="fas fa-comment-dots text-primary"></i>
																					@remark
																				</li>
																			}
																		}
																		else
																		{
																			<li><i class="fas fa-info-circle"></i> No remarks available</li>
																		}
																	</ul>
																</div>
															}



														</div>
													}






												</td>


												<td class="f-12">

													<span class="d-none" id="SpnCurrentProjId">@project.ProjId</span>
													<span class="d-none" id="SpnCurrentpsmId">@project.PsmIds</span>
													<span class="d-none" id="SpnStakeHolderId">@project.StakeHolderId</span>
													<span class="d-none" id="LatestActionType">@project.LatestActionType</span>
													<span class="d-none" id="SpnTimeStampId">@project.TimeStamp</span>
													<span class="d-none" id="SpnStageId">@project.StageId</span>
													<span class="d-none" id="SpnTimeStatusId">@project.StatusId</span>
													<span class="d-none" id="SpnprojectIsProcess">@project.IsProcess</span>
													<span class="d-none" id="SpnTimeActionId">@project.ActionId</span>
													<span class="d-none" id="SpnTimeToUnitId">@project.ToUnitId</span>
													<span class="d-none" id="SpnTimeFromUnitId">@project.FromUnitId</span>
													<span class="d-none" id="SpnDate_type">@project.Date_type</span>
													<span class="d-none" id="SpnApprove">@project.AdminApprovalStatus</span>
													<a data-proj-name="@project.ProjName" id="ProjectName" class="ProjName" data-proj-id="@project.ProjId" href="/Projects/ProjHistory?EncyID=@project.EncyID&Type=XRDC&psmid=@project.PsmIds">
														<div class="tooltip-container" data-tooltip="@project.ProjName">
															<span class="short-text">
																@(project.ProjName?.Length > 18
																													? project.ProjName.Substring(0, 14)+"...."
																													: project.ProjName)
															</span> <span class="tooltip tooltip-text">@project.ProjName</span>
														</div>
													</a>
												</td>



												<td class="RefLetter-container">
													<div class="tooltip-container" data-tooltip="@project.Sponsor">
														<span class="short-text">@truncateText(project.UnitName, 2)</span>
														<span class="tooltip tooltip-text">@project.Sponsor</span>
													</div>
													
													
													
												</td>
												<td>
													<div class="d-flex">
														<div class="col-md-8">
															<div class="RefLetter-container ">

																<div class="tooltip-container" data-tooltip="@project.FromUnitName">
																	<span class="short-text">@truncateText(project.FromUnitUserDetail, 2)</span>
																	<span class="tooltip tooltip-text">@project.FromUnitName</span>
																</div>


																
																
															</div>
														</div>

														@if (project.IsCc == true || project.IssentCC == true)
														{
															<div class="col-md-2">
																<div class="RefLetter-container btn btn-warning p-2" style="padding: 1px !important;font-size: 13px !important;margin-top: 1px;">
																	<div class="tooltip-container" data-tooltip="@project.CCUnitName">
																		@if (project.IsCc == true)
																		{
																			<span class="short-text" id="IsccForRemoveRow">Cc</span>
																		}
																		else
																		{

																			<span class="short-text">Cc</span>

																		}
																		<span class="tooltip tooltip-text">@project.CCUnitName</span>
																	</div>

																</div>
															</div>
														}
													</div>
												</td>

												@* <td>@project.ToUnitName</td> *@
												@* <td>@project.TimeStamp.ToString().Substring(0,10)</td> *@
												<td style="width:190px" class="TimeStampForcheckdate">@project.TimeStamp</td>
												<td style="width:150px">@project.Stage</td>
												<td style="width:190px">@project.Status</td>
												<td style="width:150px">@project.Action</td>




												<td>
													<div class="row ">
														<div class="col-md-12 d-flex">
															@* <div class="mr-2">
														@if (project.StageId == 1 && project.IsProcess == false && Convert.ToInt32(ViewBag.unitid) == 1)
														{
														<a href="javascript:void(0);" class="processDetail mr-2" data-id="@project.EncyPsmID">
														<img src="/assets/images/icons/process1.png" alt="Icon" style="height: 22px;">
														</a>
														}
														else
														{
														<button type="button" class="btn btn-success btn-Fwd" data-proj-name="@project.ProjName" style="padding: 1px !important;font-size: 13px !important;margin-top: 1px;">Fwd</button>
														}
														</div> *@

															<div class="mr-2">
																@if (project.StageId == 1 && project.IsProcess == false && Convert.ToInt32(ViewBag.unitid) == 1)
																{
																	<a href="javascript:void(0);" class="processDetail mr-2" data-id="@project.EncyPsmID">
																		<img src="/assets/images/icons/process1.png" alt="Icon" style="height: 22px;">
																	</a>
																}
																else if (project.IsCc == false)
																{
																	<button type="button" class="btn btn-success btn-Fwd" data-Date_type="@project.AdminApprovalStatus" data-proj-name="@project.ProjName" style="padding: 1px !important;font-size: 13px !important;margin-top: 1px;">Fwd</button>

																}

															</div>

															@if (project.StageId == 1 && project.IsProcess == false && Convert.ToInt32(ViewBag.unitid) == 1 && project.IsCc == false)
															{
																<div class="col-md-4">
																	<button type="button" class="btn btn-success btn-Obsn" data-proj-name="@project.ProjName" style="padding: 1px !important;font-size: 13px !important;">Obsn</button>
																</div>
															}
															<div class="mr-2">
																@if (project.IsCc == true)
																{

																	<button type="button" class="btn btn-success invisible" style="padding: 1px !important;font-size: 13px !important;margin-top: 1px;">Fwd</button>


																}
															</div>
															<div class="col-md-4">
																<button type="button" class="btn btn-success btn-FwdHistory" data-proj-name="@project.ProjName" style="margin-top: 1px;" title="History"><i class="fa-solid fa-timeline"></i></button>
															</div>
														</div>
													</div>
												</td>
												<td>
													<div class="row d-flex align-items-center">
														<div class="col-auto p-0 me-1">
															@if (project.IsCc == false)
															{
																if (project.IsProcess == true && project.LatestActionType != null)
																{
																	@if (project.IsProcess == true && project.LatestActionType == (int)ActionTypeEnum.Approved)
																	{
																		<span title="Approved Legacy Project">

																			<a href="#" class="date-action mr-2 disabled-link" data-action="current" data-ids="@project.EncyPsmID">
																				<img src="/assets/images/icons/Current_date.png" alt="Icon" style="height: 27px;">
																			</a>
																		</span>
																	}
																	else if (project.IsProcess == true && project.LatestActionType == (int)ActionTypeEnum.RequestSent @* project.AdminApprovalStatus == false && project.UserRequest == true && project.RequestUnitId == currentUnitId *@)
																	{
																		<span title="Pending From Admin">
																			<!-- Pending shown only to the unit that requested -->
																			<a href="#" class="date-action mr-2 disabled-link" data-action="Pending">
																				<img src="/assets/images/icons/Pendingbtn.png" alt="Icon" style="height: 30px;">
																			</a>
																		</span>
																	}
																	else if (project.IsProcess == true && project.LatestActionType == (int)ActionTypeEnum.Rejected)
																	{
																		<!-- Other units can still request -->
																		<a href="#" class="date-action mr-2" data-actiontype="1" data-action="back" data-ids="@project.EncyPsmID" title="Request to admin to ingest Legacy Project">
																			<img src="/assets/images/icons/Back_date.png" alt="Icon" style="height: 27px;">
																		</a>

																	}

																}
																else
																{
																	if (project.IsProcess == true && project.LatestActionType == null)
																	{
																		<!-- Other units can still request -->
																		<a href="#" class="date-action mr-2" data-actiontype="1" data-action="back" data-ids="@project.EncyPsmID" title="Request to admin to ingest Legacy project">
																			<img src="/assets/images/icons/Back_date.png" alt="Icon" style="height: 27px;">
																		</a>
																	}
																}
															}
															else
															{
																<span></span>
															}

														</div>
														<div class="col-auto p-0 parkedProj">

															<button class="btn btn-success" title="Click here to Park the project in parked tab">Park</button>
														</div>
													</div>
													
												</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Confirmation Modal -->
			<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p><b>You are about to send the current project for simultaneous processing and comments of DG SIGS(SIGS-7), AHCC, ACG, ASDC. Pl Confirm!</b></p>
							<div id="datepickerContainer" style="display: none;">
								<p><b>Please select Date & Time :</b></p>
								<input type="datetime-local" id="datepicker" class="form-control" placeholder="Select Date" required>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="confirmSend">OK</button>
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
						</div>
					</div>
				</div>
			</div>
			<!--Sent Items-->
			@{
				snosent = 0;
			}

			<div class="table-responsive">
				<div class="tabs__content__item" id="sent" style="height:100%;">
					<div class="content" style="height:100%;">
						<div class="card radius-10 w-100" style="height:100%;">
							<div class="card-body table-responsive" style="height:100%; overflow-y: auto;">
								<table id="Sents" class="table table-striped table-bordered">

									<thead>
										<tr>
											<th class="s-no-column">Ser No</th>
											<th style="width:20%">Proj Name</th>
											<th>Sponsor</th>

											@* <th class="col-width9">From</th> *@
											<th class="to-unit-name">To Unit Name</th>
											@* <th>TimeStamp</th> *@
											<th>Sent On</th>
											<th>Stage</th>
											<th>SubStage</th>
											<th>Action</th>
											<th class="projaction">Project Action</th>

										</tr>
									</thead>

									<tbody class="FontSize">
										@foreach (var project in Model.SendItems.OrderByDescending(i => i.TimeStamp).ToList())
										{
											@* bool hasRemainder = remainderList?.Any(r => r.Projid == project.ProjId && r.IsRead == false) ?? false; *@
											@* bool hasRemainder = remainderList?
										.Where(r => r.Psmid == project.PsmIds)

										.Any() ?? false; *@



											<tr>
												<td class="s-no-column">
													<div class="d-flex">
														@{
															snosent++;


														}
														@snosent
														@if (project.IsRead == false)
														{
															<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color:#18bb6b"
																 fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
																<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
															</svg>
														}
														else
														{
															<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="16" style="color:#18bb6b"
																 height="16" fill="currentColor">
																<path d="M342.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 178.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l80 80c12.5 12.5 32.8 12.5 45.3 0l160-160zm96 128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 402.7 54.6 297.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l256-256z" />
															</svg>
														}
														@if (project.HasRemainder == true && project.HideReminderIcon == true)
														{
															<img src="/assets/images/icons/greenRemainder.png" id="btnRemainder" alt="Reminder Sent" title="UnRead Reminder" data-projid="@project.ProjId" data-projname="@project.ProjName" style="width:20px; height:20px;" />
														}
														else if (project.HideReminderIcon == true)



														{
															<img src="/assets/images/icons/add-reminder1.png" id="btnRemainder" alt="Reminder" title="Send Reminder" data-projid="@project.ProjId" data-projname="@project.ProjName" style="width:20px; height:20px;" />
														}

													</div>




												</td>

												<td class="f-12">
													<span class="d-none" id="SpnCurrentProjId">@project.ProjId</span>
													<span class="d-none" id="SpnCurrentpsmId">@project.PsmIds</span>
													<span class="d-none" id="SpnStakeHolderId">@project.StakeHolderId</span>
													@* <span class="d-none" id="SpnTimeStampId">@project.TimeStamp.ToString().Substring(0,10)</span> *@
													<span class="d-none" id="SpnTimeStampId">@project.TimeStamp</span>
													<span class="d-none" id="SpnprojectIsProcess">@project.IsProcess</span>
													<span class="d-none" id="SpnprojectStageId">@project.StageId</span>
													<span class="d-none" id="SpnprojectToUnitId">@project.ToUnitId</span>

													<a data-proj-name="@project.ProjName" data-proj-id="@project.ProjId" href="/Projects/ProjHistory?EncyID=@project.EncyID&Type=XR12">
														<div class="tooltip-container" data-tooltip="@project.ProjName">
															<span class="short-text">@truncateText(project.ProjName, 2)</span>
															<span class="tooltip tooltip-text">@project.ProjName</span>
														</div>
													</a>
												</td>
												<td class="f-12">

													<div class="tooltip-container" data-tooltip="@project.Sponsor">
														<span class="short-text">@truncateText(project.UnitName, 2)</span>
														<span class="tooltip tooltip-text">@project.Sponsor</span>
													</div>

													
													
												</td>
												@* <td>
											<div class="d-flex">
											<div class="col-md-10">
											<div class="RefLetter-container ">
											@project.FromUnitUserDetail
											<div class="RefLetter">
											@project.FromUnitName
											</div>
											</div>
											</div>

											@if (project.IsCc == true)
											{


											<div class="RefLetter-container btn btn-warning p-2" style="padding: 1px !important;font-size: 13px !important;margin-top: 1px;">
											<div class="tooltip-container" data-tooltip="@project.CCUnitName">
											@if (project.IsCc == true)
											{
											<span class="short-text" id="IsccForRemoveRow">Cc</span>
											}
											else
											{

											<span class="short-text">Cc</span>

											}
											<span class="tooltip tooltip-text">@project.CCUnitName</span>
											</div>

											</div>
											}
											</div>

											</td> *@

												<td class="RefLetter-container">


                                                    <div class="d-flex">
                                                        <div class="col-md-10">


                                                            <div class="tooltip-container" data-tooltip="@project.ToUnitName">
                                                                <span class="short-text">@truncateText(project.ToUnitName, 2)</span>
																<span class="tooltip tooltip-text">@project.ToUnitName</span>
                                                            </div>



											
															
														</div>
														@if (project.IsCc == true)
														{


															<div class=" btn btn-warning p-2" style="padding: 1px !important;font-size: 13px !important;margin-top: 1px;">
																<div class="tooltip-container" data-tooltip="@project.CCUnitName">
																	@if (project.IsCc == true)
																	{
																		<span class="short-text" id="IsccForRemoveRow">Cc</span>
																	}
																	else
																	{

																		<span class="short-text">Cc</span>

																	}
																	<span class="tooltip tooltip-text">@project.CCUnitName</span>
																</div>

															</div>
														}

													</div>
												</td>
												@* <td>@project.TimeStamp.ToString().Substring(0, 10)</td> *@
												<td>@project.TimeStamp</td>
												<td>@project.Stage</td>
												<td>@project.Status</td>
												<td>@project.Action</td>

												<td>
													<div class="row d-flex">
														@if (project.IsHosted == 0)
														{
															<div class="col-md-6">

																@* Undo Code  *@
																@*@if (project.PsmIds == project.undopsmId && project.IsRead == false)
														{
														if(project.StageId!=1)
														{
														<button type="button" class="btn btn-success btn-Undo ml-2" style="padding: 1px !important;font-size: 13px !important;">Undo </button>
														}

														}*@


																@* Pull Back  *@


																@if (project.IsPullBack == false || project.IsPullBack == null) // project.undopsmId for the specified active project, excluding comments and records with undo remarks.
																{
																	if (project.PullbackAction == true) // stageId!=1 means here this project in not in initial stage..
																	{

																		<button type="button" class="btn btn-success btn-Undo ml-2" style="padding: 1px !important;font-size: 13px !important;">Pull Back </button>
																	}
																}
																else
																{
																	if ( project.IsPullBack == true)
																		if (project.IsPullBack == true)
																		{
																			<span class="btn btn-success ml-2" style="padding: 1px !important;font-size: 13px !important; cursor: not-allowed;">Pulled Back</span>
																		}
																}


															</div>
														}
														else
														{
															<div class="col-md-6">
																<button class="btn btn-success invisible" disabled>Pull Back </button>
															</div>
														}


														<div class="col-md-2">
															<button type="button" class="btn btn-success btn-FwdHistorySent" data-proj-name="@project.ProjName" title="History" style="margin-top: 1px;"><i class="fa-solid fa-timeline"></i></button>
														</div>
													</div>

												</td>

											</tr>

										}
									</tbody>


								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Completed Items-->
			<div class="table-responsive">
				<div class="tabs__content__item" id="completed" style="height:100%;">
					<div class="content" style="height:100%;">
						<div class="card radius-10 w-100" style="height:100%;">
							<div class="card-body" style="height:100%; overflow-y: auto;">
								<table id="Completed" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th class="s-no-column">Ser No</th>
											<th>Proj Name</th>
											<th>Sponsor Dte</th>
											<th>Completed By</th>
											<th>Completed On</th>
											<th>Status</th>
											<th>Project Action</th>

										</tr>
									</thead>

									<tbody>
										@foreach (var project in Model.CompletedItems)
										{
											<tr>

												<td>
													@{
														snocompleted++;
													}
													@snocompleted
												</td>
												<span class="d-none" id="SpnCurrentProjId">@project.ProjId</span>
												<td>
													<a data-proj-name="@project.ProjName" data-proj-id="@project.ProjId" href="/Projects/ProjHistory?EncyID=@project.EncyID&Type=XR">
														@project.ProjName
													</a>
												</td>
												<td>@project.StakeHolder</td>
												@* <td>@project.FwdBy</td> *@
												<td>@project.RecdFmUser</td>
												@* <td>@project.DateTimeOfUpdate?.ToString("dd-MM-yyyy")</td> *@
												<td>@project.DateTimeOfUpdate</td>


												<td>
													@project.Status
												</td>
												<td>@project.Action</td>

											</tr>

										}
									</tbody>

								</table>

							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- end completed items -->
			<!----Draft---->

			<div class="tabs__content__item" id="draft" style="height:100%; ">
				<div class="content" style="height:100%;">
					<div class="card radius-10 w-100" style="height:100%;">
						<div class="card-body" style="height:100%; overflow-y: scroll;">

							<table id="Draft" class="table table-striped table-bordered">
								<thead>
									<tr>
										<th class="s-no-column">Ser No</th>
										@* <th>Proj ID</th> *@
										<th>Proj Name</th>

										<th>Recd From</th>
										@*
										<th>Recd On</th>

										<th>Fwd To</th>
										<th>Fwd On</th>

										<th>Stage</th>
										<th>Status</th>
										<th>Action</th> *@
										@*   <th>Comments</th> *@
										<th>Remarks</th>
										@*  <th>Days in Inbox</th> *@
										<th>Att</th>
										<th>Edit</th>
									</tr>
								</thead>

								<tbody>
									@foreach (var project in Model.Draft)
									{
										<tr>

											<td>
												@{
													snodraft++;
												}
												@snodraft
											</td>
											@* <td>@project.ProjId</td> *@
											<td>

												@project.ProjName
											</td>
											<td>@project.RecdFmUser</td>
											@*     <td>@project.EditDeleteDate?.ToString("dd-MM-yyyy")</td>

										<td>@project.FwdtoUser</td>
										<td>@project.FwdtoDate?.ToString("dd-MM-yyyy")</td>

										<td>@project.Stages</td>
										<td>
										@project.Status
										</td>
										<td>
										@project.Action

										</td> *@
											@* <td>
										@project.Comments

										</td> *@
											<td>
												@project.AdRemarks

											</td>
											@*   <td>
										@project.TotalDays

										</td> *@
											<td>

												@if (project.AttCnt > 0)
												{

													<a href="javascript:void(0);" class="anchorDetail" data-id="@project.CurrentPslmId">
														<img src="/assets/images/icons/attachemnts_clip.png" alt="Icon" style="width: 31px; height: 29px; margin-right: 0px;">
													</a>


												}
												else
												{

												}
											</td>
											<td>
												@if (project.IsSubmited == false)
												{

													<center>


														<a href="@Url.Action("Create", "Projects", new { id = project.EncyID })">
															<div data-project-id="@project.EncyID" id="ProjDetailId-@project.ProjId">
																<img src="/assets/images/icons/edit.png" alt="Icon" style="width: 35px; height: 30px; margin-right: 0px;">


															</div>
														</a>


													</center>
												}
												@*  <div class="ProjDetailUndo" data-project-id="@project.EncyID" id="ProjDetailId-@project.ProjId">
											<img src="/assets/images/icons/undo.png" alt="Icon" style="width: 25px; height: 20px; margin-right: 0px;">
											</div>*@

											</td>
										</tr>

									}
								</tbody>

							</table>


						</div>
					</div>
				</div>
			</div>
			<!---END-DRAFT-->
			<!---Start-Remainder-->
			@{
				snosent = 0;
			}
			<div class="table-responsive">
				<div class="tabs__content__item" id="Remainder" style="height:100%;">
					<div class="content" style="height:100%;">
						<div class="card radius-10 w-100" style="height:100%;">
							<div class="card-body" style="height:100%; overflow-y: auto;">
								<table id="Remainders" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th style="width:5%">Ser No</th>
											<th style="width:20%">Proj Name</th>
											<th>Sponsor</th>
											<th>From unit</th>
											<th>Sent On</th>
											<th>To Unit</th>
											<th>Read On</th>
											<th class="col-width18">Remarks</th>
											<th>Action</th>


										</tr>
									</thead>
									@{
										int serNo = 0;
									}
									<tbody class="FontSize">
										@{

											foreach (var project in Model.Remainder)
											{
												<tr>
													<td class="sorting">
														@{
															serNo++;
														}
														@serNo
													</td>

													<td>
														<a data-proj-name="@project.ProjName" id="ProjectName" class="ProjName" data-proj-id="@project.projid" href="/Projects/ProjHistory?EncyID=@project.EncyID&Type=XRDC">
															<div class="tooltip-container" data-tooltip="@project.ProjName">
																<span class="short-text">@truncateText(project.ProjName, 3)</span>
																<span class="tooltip tooltip-text noExport">@project.ProjName</span>
															</div>
														</a>
													</td>
													<td class="RefLetter-container">


                                                        <div class="tooltip-container" data-tooltip="@project.Sponsor">
                                                            <span class="short-text">@truncateText(project.unitName, 3)</span>
                                                            <span class="tooltip tooltip-text noExport">@project.Sponsor</span>
                                                        </div>
														
													</td>


													<td>@project.FromUnit</td>
													@{
														var sentdate = @project.SentOn != null ? DateTime.Parse(@project.SentOn) : (DateTime?)null;
													}
													<td>@(sentdate?.ToString("dd-MM-yyyy:hh:mm:ss"))</td>
													<td>@project.ToUnit</td>
													<td>@project.ReadOn</td>
													@{
														var remarks = string.IsNullOrWhiteSpace(project.Remarks) ? "No Remarks" : project.Remarks;
														var remarkWords = remarks.Split(' ');
														var shortRemarks = remarkWords.Length > 3
														? string.Join(" ", remarkWords.Take(4)) + "..."
														: remarks;
													}
													<td>

														<div class="tooltip-container" data-tooltip="@project.Remarks">
															<span class="short-text noExport">@shortRemarks</span>
															<span class="tooltip tooltip-text noExport">@project.Remarks</span>
														</div>
														
													</td>

													<td>

														<a href="#" id="btnRemMove" data-proj-name="@project.ProjName" data-action="@project.projid"><img src="/assets/images/icons/Legacyhistory.png" alt="Icon" style="height: 27px;"></a>
													</td>
												</tr>

											}
										}


									</tbody>

								</table>

							</div>
						</div>
					</div>
				</div>
			</div>







			<!--CC Items-->
			@{
				int snoCc = 0;
			}
			<div class="table-responsive">
				<div class="tabs__content__item" id="ToCc" style="height:100%;">
					<div class="content" style="height:100%;">
						<div class="card radius-10 w-100" style="height:100%;">
							<div class="card-body table-responsive" style="height:100%; overflow-y: auto;">
								<table id="CCtable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th class="s-no-column">Ser No</th>
											<th style="width:20%">Proj Name</th>
											<th>Sponsor</th>

											<th class="col-width9">From</th>
											@* <th class="to-unit-name">To Unit Name</th> *@
											@* <th>TimeStamp</th> *@
											<th>Sent On</th>
											<th>Read On</th>
											<th>Read By</th>
											<th>Stage</th>
											<th>SubStage</th>
											<th>Action</th>
											<th class="projaction">Project Action</th>

										</tr>
									</thead>

									<tbody class="FontSize" id="cctblData">
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>

			<!--Completed Items-->


			@* <------Parked Items---------------> *@
			@{
				int snoparked = 0;
			}
			<div class="table-responsive">
				<div class="tabs__content__item" id="ToParked" style="height:100%;">
					<div class="content" style="height:100%;">
						<div class="card radius-10 w-100" style="height:100%;">
							<div class="card-body table-responsive" style="height:100%; overflow-y: auto;">
								<table id="parkedtable" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th class="s-no-column">Ser No</th>
											<th style="width:20%">Proj Name</th>
											<th>Sponsor</th>

											<th class="col-width9">From</th>
										
											<th>Received on</th>
											
											<th>Stage</th>
											<th>SubStage</th>
											<th>Action</th>
											<th class="">Project Action</th>

										</tr>
									</thead>

									<tbody class="FontSize" id="parkedtblData">
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	
	<div class="modal fade" id="ProjFwdHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl" role="document">
			<div class="modal-content">
				<div class="modal-header">

					<h4 class="modal-title" id="lblHistory">Project Name Fwd History</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body ml-lg-5">

					<div class="timeline" id="projectmovfistory">
					</div>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div>


	@Html.Partial("_ProjectFWDPopup")


	@* @Html.Partial("_ProjectFWDPopup") *@


	<div class="modal fade" id="myModalPagehistoryAttechment" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg custom-modal-size">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">ATTACHMENTS</h5>

					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="myModalContenthistoryAttechment">
					</div>
				</div>
			</div>
		</div>

	</div>


	@*

	<div class="modal fade" id="ProjRemainderMov" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
	<div class="modal-dialog modal-xl" role="document">
	<div class="modal-content">
	<div class="modal-header">

	<h4 class="modal-title" id="RemProjName"></h4>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>

	<div class="modal-body ml-lg-5">

	<div class="timeline" id="ProjRemMov">
	</div>
	</div>

	</div><!-- modal-content -->
	</div><!-- modal-dialog -->
	</div>

	*@




	<div class="modal fade" id="ProjRemainderMov" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content modalSize" style="width: 100rem !important;
    margin: -23rem !important;">
				<div class="modal-header">

					<h4 class="modal-title" id="RemProjName"> </h4>
					<button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body scroll">
					<div class="table-responsive">
						<table id="Trakingtable" class="table table-striped table-bordered">
							<thead>
								<tr>


									<th class="nowrap" style="padding-right:0px; width:10px;">Ser No</th>

									@* <th class="nowrap dt-serial-number" style="padding-right:0px;">Ser No</th> *@

									@* <th class="nowrap">Proj Name</th> *@
									<th class="nowrap">Stake Holder</th>
									<th class="nowrap">From Unit</th>
									<th class="nowrap col-md-24">Sent on</th>
									<th class="nowrap">To Unit</th>
									<th class="nowrap col-md-24">Read on</th>
									<th class="col-width25">Remarks</th>

								</tr>
							</thead>

							<tbody id="ProjRemMov">
							</tbody>

						</table>
					</div>

				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div>



</body>
@functions {
	public string truncateText(string text, int maxWords)
	{
		if (string.IsNullOrWhiteSpace(text))
		{
			return string.Empty;
		}

		var words = text.Split(' ');
		var truncatedText = string.Join(' ', words.Take(maxWords));
		return truncatedText;
	}
}

<script src="~/developerjs/Tooltip.js"></script>

<script src="~/developerjs/mtable.js"></script>
<script src="~/developerjs/atthistory.js"></script>

<script src="~/developerjs/projectdetails.js"></script>
<script src="~/developerjs/projectstckholdercommentforprojhistory.js"></script>
<script src="~/developerjs/comman.js"></script>
<script src="~/developerjs/ProjectDetailDatatable.js"></script>
<script src="~/developerjs/CommanDatatable.js"></script>



<script src="~/developerjs/fwdproject.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$(document).on('click', '.pdf', function () {
			$('#AttHistoryView').modal('show');
		});
	});
</script>


<script>
	const containerTabs = document.getElementById("tabs");

	const getInfoTabs = container => {
		return [...container.querySelectorAll(".tabs__content__item")];
	};

	const getLinksTab = container => {
		return [...container.querySelectorAll("a[data-tab]")];
	};

	const activateTab = (tabId) => {
		const tabsInfo = getInfoTabs(containerTabs);

		tabsInfo.forEach(tab => {
			const isActive = tab.getAttribute("id") === tabId;
			tab.classList.toggle("active-tab", isActive);
		});
	};

	const activateLink = (link) => {
		const linksTab = getLinksTab(containerTabs);
		linksTab.forEach(tabLink => {
			tabLink.classList.toggle("active-link", tabLink === link);
		});
	};

	const handleTabClick = event => {
		const clickedElement = event.target;
		if (clickedElement.tagName === "A" && clickedElement.hasAttribute("data-tab")) {
			event.preventDefault();
			const tabId = clickedElement.getAttribute("data-tab");
			activateTab(tabId);

			activateLink(clickedElement);



		}
	};

	containerTabs.addEventListener("click", handleTabClick);
</script>



<script>
	const containerTabss = document.getElementById("tabs");

	const getInfoTabs = container => {
		return [...container.querySelectorAll(".tabs__content__item")];
	};

	const getLinksTab = container => {
		return [...container.querySelectorAll("a[data-tab]")];
	};

	const activateTab = (tabId) => {
		const tabsInfo = getInfoTabs(containerTabss);

		tabsInfo.forEach(tab => {
			const isActive = tab.getAttribute("id") === tabId;
			tab.classList.toggle("active-tab", isActive);
		});
	};

	const activateLink = (link) => {
		const linksTab = getLinksTab(containerTabss);
		linksTab.forEach(tabLink => {
			tabLink.classList.remove("active-link");
		});
		link.classList.add("active-link");
	};

	const handleTabClick = event => {
		const clickedElement = event.target;
		if (clickedElement.tagName === "A" && clickedElement.hasAttribute("data-tab")) {
			event.preventDefault();
			const tabId = clickedElement.getAttribute("data-tab");
			activateTab(tabId);

			activateLink(clickedElement);
		}
	};

	containerTabss.addEventListener("click", handleTabClick);
</script>

