@using swas.BAL.DTO
@using swas.DAL.Models
@model List<ActionExceptionDTO>

@{
    ViewBag.Title = "Actions List";
}

<style>
     .underline-h5 {
        padding: 0.5rem;
        width: 100%;
        margin: -16px auto; /* Center the box */
        text-align: center;
        border-color: #03c1fc;
        /*box-shadow: 2px 6px 5px -3px #062b50;*/
        background-color: #0cafff;
        color: white;
        font-family: Arial;
        font-size: 15px;
        margin-bottom: 0.5rem;
        height: -1px;
    }


</style>
<script src="~/js/sweetalert2.all.min.js"></script>

<button type="button" class="btn btn-success btn-Mapping add-Exception">Add Actions Exceptions</button>

<div class="card radius-10 w-100">
    <div class="card-body">


        <table id="tblactionEx" class="table table-striped table-bordered">
            <!-- Table header -->
            <thead>
                <tr>
                    <th>Ser No</th>
                    <th>Unit Name</th>
                    <th>Stage</th>
                    <th>Sub Stage</th>
                    <th>Action</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var models in Model)
                {

                    <tr>
                        <td class="srno">@(Model.IndexOf(models) + 1)</td>
                        <td class="f-12">
                            <span class="d-none" id="UnitStatusMapId">@models.UnitStatusMappingId</span>
                            <span class="d-none" id="spnStageId">@models.StageId</span>
                            <span class="d-none" id="spnStatusId">@models.SubStageId</span>
                            <span class="d-none" id="spnActionId">@models.ActionId</span>
                            <span class="d-none" id="spnToUnitId">@models.UnitId</span>

                            <span  id="UnitName">@models.UnitName</span>
                        </td>
                      
                        <td id="StageName">@models.Stage</td>
                        <td id="SubStageName">@models.SubStage</td>
                        <td id="ActionName">@models.Action</td>
                        <td>

                            <a class="btn btn-secondary btn-edit"><i class='bx bx-edit' style="color:white;"></i></a>
                        </td>

                    </tr>

                }

            

            </tbody>

        </table>

    </div>
</div>




<div class="modal fade" id="unitMapping" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <span class="d-none" id="spnUnitStatusMappingId">0</span>
                
            </div>

           
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="modal-header">
                                <h6 class="card-title">Action Exception </h6>

                            </div>
                            <div class="card-body">

                                <div class="form-row">
                                    <div class="form-group col-md-6 ProjectsFwd ">
                                        <label for="Stage">Stage</label>
                                        <select class="form-control requiredField" style="width: 100%;" tabindex="-1"
                                                name="fwdoffrs" required id="ddlfwdStage">
                                            <option value="0">Select Stage</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 ProjectsFwd">
                                        <label for="SubStage">Sub Stage</label>
                                        <select class="form-control requiredField" style="width: 100%;" tabindex="-1"
                                                name="fwdoffrs" required id="ddlfwdSubStage">
                                            <option value="0">Select Sub Stage</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 ProjectsFwd">
                                        <label for="Action">Action</label>
                                        <select class="form-control requiredField" style="width: 100%;" tabindex="-1"
                                                name="fwdoffrs" required id="ddlfwdAction">
                                            <option value="0">Select Action</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6 ProjectsFwd">
                                        <label for="FwdTo">Fwd To</label>
                                        <select class="form-control requiredField" style="width: 100%;" tabindex="-1"
                                                name="fwdoffrs" required id="ddlfwdFwdTo">
                                            <option value="0">Select Fwd To</option>
                                        </select>
                                    </div>
                                    
                                    <input type="button" id="btnSaveException" value="Save" class="btn btn-primary btnSaveException save" />
                                    <input type="button" id="btnUpdateException" value="Update" class="btn btn-primary btnUpdateException update d-none" />

                                </div>

                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>

<script src="~/developerjs/actionexception.js"></script>
<script src="~/developerjs/fwdproject.js"></script>
<script src="~/developerjs/mtable.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}