@using swas.DAL.Models
@model List<tbl_Projects>



@{
    ViewData["Title"] = "Search Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sno = 0;
}

<link href="~/css/EditProjDetails.css" rel="stylesheet"/>

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{

}





<div>
    <h5 class="text-center mb-4 underline-h5">
        <span>
            Edit Projects Details
        </span>
    </h5>
</div>




<div class="card-body">

    <table id="Soft" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>S/No</th>
                <th>Project Name</th>
                <th>Initiated On</th>

                <th>AimScope</th>
                <th>Comment</th>


            </tr>
        </thead>


        <tbody>
            @foreach (var pro in Model)
            {
                <tr>
                    <td>
                        @{
                            sno++;
                        }
                        @sno
                    </td>
                    <td>
                        <a class="editButton" data-proj-name="@pro.ProjName" data-proj-id="@pro.ProjId" href="/ProjEdit/EditWithHistory?EncyId=@pro.EncyID">
                            @pro.ProjName
                        </a>
                    </td>

                    <td>@pro.InitiatedDate?.ToString("dd-MM-yyyy")</td>


                    <td>@pro.AimScope</td>
                    <td>@pro.Comments</td>
                </tr>

            }

        </tbody>

    </table>


</div>



