@using swas.BAL.DTO
@model List<ProjHistory>
@{
    int snoa = 0;
}
<link href="~/css/_fwdprojhistory.css" rel="stylesheet" />

<div class="card bi-ui-radios-30 w-100">
    <div class="card-body">
        <table id="HistroyProcess" class="table table-striped table-bordered custom-table">
            <thead>
                <tr>
                    <th>Ser No</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Fwd Fm</th>
                    <th>Fwd To</th>
                    <th>Remarks</th>
                    <th>Comment</th>
                    <th>Current Stakeholder</th>
                    <th>#Att</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var history in Model)
                {
                    <tr>
                        <td>@{
                                snoa++;
                            } @snoa</td>
                        <td>@history.TimeStamp</td>
                        <td>@history.Status</td>
                        <td>@history.FromStakeHolder</td>
                        <td>@history.CurrentStakeHolder</td>
                        <td>@history.Remarks</td>
                        <td>@history.Comment</td>
                        <td>@history.CurrentStakeHolder</td>
                        <td>
                            @if (history.AttCnt > 0)
                            {
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@history.PsmId">
                                    <img src="/assets/images/icons/attachemnts_clip.png" alt="Icon" class="attachment-icon">
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card bi-ui-radios-30 w-100">
    <div class="card-body">
        <table id="tableset" class="table table-striped table-bordered custom-table">
            <thead>
                <tr>
                    <th>Ser No</th>
                    <th>Stakeholder</th>
                    <th>Date</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var history in ViewBag.CommentByStakeholderList)
                {
                    if (@history.Comment.Length > 0)
                    {
                        <tr>
                            <td>@{
                                    snoa++;
                                } @snoa</td>
                            <td>@history.stakeholder</td>
                            <td>@history.DateTimeOfUpdate.ToString("dd-MM-yyyy")</td>
                            <td>@history.Comment</td>
                            <td>@history.Action</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
