@using Microsoft.AspNetCore.Identity
@using swas.BAL.DTO
@using swas.BAL.Helpers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Options

@inject IOptions<SiteSettings> SiteSettings
@inject IHttpContextAccessor HttpContextAccessor

@{
    TempData["Tabshift"] = 0;
    Login Logins = SessionHelper.GetObjectFromJson<Login>(HttpContextAccessor.HttpContext.Session, "User");
}

@{
    bool isAdmin = User.Identity.IsAuthenticated && User.IsInRole("Dte");
}

<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


<title>@ViewData["Title"] - PAW</title>




    <link href="~/css/all.min.css" rel="stylesheet" />
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <!-- CSS Files -->
    <link href="~/css/select2.min.css" rel="stylesheet" />

<link href="~/css/layout.css" rel="stylesheet" />
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">

    <!--data Table-->
    <link rel="stylesheet" href="~/assets/dataTable/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/dataTable/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/dataTable/css/buttons.bootstrap4.min.css">
    <link href="~/css/animated.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/dataTable/css/all.min.css">
    <link href="~/assets/dataTable/css/searchbuilder.datatables.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/css/all.min.css" rel="stylesheet" />
     
    <link href="~/assets/dataTable/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/dataTable/css/datatables.datetime.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" />

    <script language="JavaScript" type="text/javascript" src="~/assets/js/jquery.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!--plugins-->
    <link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <script language="JavaScript" type="text/javascript" src="~/assets/plugins/chartjs/chart.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>

    <!-- Main JS-->
    <script language="JavaScript" type="text/javascript" src="~/assets/js/main.js"></script>

    <!-- dataTable-->
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/jquery.dataTables.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/dataTables.bootstrap4.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/dataTables.buttons.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/buttons.bootstrap4.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/jszip.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/pdfmake.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/vfs_fonts.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/buttons.html5.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/buttons.print.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/buttons.colVis.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/dataTables.responsive.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/assets/dataTable/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/dataTable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/dataTable/js/pdfmake.min.js"></script>
    <script src="~/assets/dataTable/js/datatables.datetime.min.js"></script>
    <script src="~/assets/dataTable/js/datatables.searchbuilder.min.js"></script>
    <script src="~/assets/dataTable/js/fnmultifilter.js"></script>

    <link href="~/css/sweetalert2.min.css" rel="stylesheet">
    <script src="~/assets/datatable/js/select2.min.js"></script>
     
     
    <script language="JavaScript" type="text/javascript" src="~/js/sweetalert2.all.min.js"></script>

    <script src="~/DeveloperJs/ddlSanal.js"></script>
    <script src="~/DeveloperJs/Comman.js?v1"></script>
    <script src="~/developerjs/notification.js"></script>



<body class="sidebar-collapsed sidebar-hover">

    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content paw-edituser-modal-content">
                <div class="modal-header paw-modal-header-blue">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="editUserModalBody">
                    <!-- Partial view will be loaded here -->
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div id="loading1" class="loader d-none">
            <div class="loader-container">
                 
                <img src="/assets/images/loadsss.gif">
                <div>
                    <h4 class="paw-loading-title">Loading...</h4>
                    <span>Please wait... This may take few seconds...</span>
                </div>
            </div>
        </div>

        <form id="frmEditUser" method="post" title="Edit User" action="/Account/AllUsersEdit">
            <input type="hidden" name="UserName" id="hfUserName" />
            <input type="hidden" name="RankId" id="hfRankId" />
            <input type="hidden" name="RoleName" id="hfRoleName" />
            @Html.AntiForgeryToken()
        </form>

        <div class="text-capitalize d-none divRank_id">@Logins.Rank_id</div>
        <div class="text-capitalize d-none divRole_name">@Logins.Role</div>

        @if (Logins != null && Logins.Role == "Dte")
        {
            <!--start sidebar -->
            <aside class="sidebar-wrapper" data-simplebar="true">
                <div class="sidebar-header paw-sidebar-header-blue">
                    <div>
                        <img src="~/assets/images/icons/armylogo.png" class="logo-icon" alt="logo icon">
                    </div>
                    <div>
                        <h4 class="logo-text">PAW</h4>
                    </div>
                    <div class="toggle-icon ms-auto">
                        <ion-icon name="menu-sharp" id="menusharp"></ion-icon>
                        <img src="~/assets/images/menu-sharp.256x172.png" class="paw-menu-icon" />
                    </div>
                </div>

                <!--navigation-->
                <ul class="metismenu sidebar-menu paw-sidebar-bold" id="menu">

                    <li>
                        <div class="parent-icon">
                            <ion-icon name="home-sharp" id="iconname"></ion-icon>
                        </div>
                        <a href="/Home/Index">
                            <div class="menu-title paw-menu-title-left0">
                                Dashboard :  @Logins.Unit
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/Projects/Create">
                            <div class="icon-container">
                                <ion-icon name="ellipse-outline"></ion-icon>
                                <span class="icon-name">Add New Project</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/Projects/ProjDetails">
                            <div class="inbox-container paw-inbox-ml-46">
                                <div class="icon-container paw-inbox-ml--43">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name">Inbox</span>
                                    <span id="InboxCount" class="badge3 d-none InboxCount">0</span>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/Projects/ProjComments"  >
                            <div class="icon-container">
                                <ion-icon name="ellipse-outline"></ion-icon>
                                <span class="icon-name">Stakeholder Comments</span>
                                <span id="ProjectCommentCount" class="badge5 d-none ProjectCommentCount">0</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/Search/GetProjLogview">
                            <div class="icon-container">
                                <ion-icon name="ellipse-outline"></ion-icon>
                                <span class="icon-name">Track Project</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/Home/ProjectWiseReport">
                            <div class="icon-container">
                                <ion-icon name="ellipse-outline"></ion-icon>
                                <span class="icon-name">Analysis</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/Chat/Index">
                            <div class="inbox-container paw-inbox-ml-46">
                                <div class="icon-container paw-inbox-ml--43">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name mr-3">Chat</span>
                                    <span id="InterUserMsgCount" class="badge3 d-none InterUserMsgCount mt-1">
                                        <ion-icon name="ellipse" class="new-badge-icon"></ion-icon>
                                        <span class="new-text">new</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>

                    @if (Logins != null && Logins?.UserName == "gso1semg_asdc_ihqa" && Logins?.unitid == 4)
                    {
                        <li>
                            <a href="/Home/DateApproval">
                                <div class="icon-container">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name">Approve Legacy Project</span>
                                    <span id="ProjectlegacyCount" class="badge5 d-none ProjectlegacyCount">0</span>
                                </div>
                            </a>
                        </li>
                    }

                    @if (Logins != null && Logins.Role == "Dte" && Logins.unitid == 1)
                    {
                        <li class="menu-items">
                            <a href="#"> User Setting</a>
                            <div class="submenu">
                                <a href="/Actions/Index">View Actions</a>
                                <a href="/UnitDtls/AddOrEdit">Actions by Stage</a>
                                <a href="/Stages/Create">View Stage</a>
                                <a href="/ActionException/Index">View Action Exceptions</a>
                                <a href="/Identity/Account/Register" target="_new">Register New User</a>
                                <a href="/Account/GetsAllUsers">View Users</a>
                            </div>
                        </li>
                        <li></li>
                        <li></li>
                    }

                    @if (Logins != null && Logins?.UserName == "gso1semg_asdc_ihqa" && Logins?.unitid == 4)
                    {
                        <li>
                            <a href="/Projects/ProjectMovement">
                                <div class="icon-container">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name">Edit Project Movement</span>
                                </div>
                            </a>
                        </li>
                    }

                    <li class="menu-items">
                        <a href="#">Policy Corner</a>
                        <div class="submenu">
                            <a href="#" id="WLProjList">Whitelisted Appl</a>
                            <a href="#">Minutes of Mtgs</a>
                            <a href="/Home/SOPDownload" target="\'_blank\'">SOP on Whitelisting</a>
                            <a href="javascript:void(0);" id="FlowPng">Help File</a>
                        </div>
                    </li>

                </ul>

                <div class="sidebar-footer"></div>
            </aside>

            <!--start top header-->
            <header class="top-header py-2 mb-5 paw-topheader-text-blue paw-topheader-noinline">
                <div class="toggle-icon ms-auto d-none" id="menusharp1">
                    <ion-icon name="menu-sharp"></ion-icon>
                    <img src="~/assets/images/menu-sharp.256x172.png" class="paw-menu-icon" />
                </div>

                <nav class="navbar navbar-expand-lg navbar-dark px-3">
                    <div class="mobile-menu-button d-lg-none me-2">
                        <ion-icon name="menu-sharp" size="large"></ion-icon>
                    </div>

                    <div class="flex-grow-1 text-center nowrap">
                        <h1 class="h2 h4-sm h3-md text-white mb-0" id="mainheading">
                            Portal for Application Whitelisting (PAW)
                        </h1>
                    </div>

                    <a href="javascript:void(0);"
                       class="mr-2 edit-user-btn paw-edituser-link-white"
                       data-username="@Logins.UserName"
                       data-rankid="@Logins.Rank_id"
                       data-rolename="@Logins.Role">
                        <i class="fa-solid fa-user-pen paw-userpen-icon" title="Edit user"></i>

                    </a>

                    <div class="top-navbar-right ms-auto d-flex align-items-center flex-column flex-md-row text-center text-md-start">
                        <div class="text-white me-md-3 paw-font-small">
                            <div> Welcome : <span id="spnUsername"> @Logins.UserName.ToLower()</span></div>
                            <div class="text-capitalize divoffr_name">@Logins.Rank @Logins.Offr_Name</div>

                            <span class="d-none" id="IpAddress">@Logins.IpAddress</span>
                            <span class="d-none" id="SpnCurrentUserStackholderID">@Logins.unitid</span>
                            <span class="spnOffr_Name d-none">@Logins.Offr_Name</span>
                        </div>

                        <div class="user-setting ms-md-3 mt-2 mt-md-0">
                            <a href="/Account/Logout">
                                <img src="~/assets/images/icons/logout.png" class="user-img paw-logout-img" alt="Logout">
                            </a>
                        </div>
                    </div>
                </nav>

                <div class="bar bg-white paw-bar-mt-62"></div>
                <div class="bar py-1 px-3 paw-bar-mt-70">
                    <span class="bar_content">
                        @SiteSettings.Value.BannerMessage
                        <span class="bar_space"></span>
                        @SiteSettings.Value.BannerMessage2
                    </span>
                </div>
            </header>
        }

        <!-- unit level users menu start  -->
        @if (Logins != null && Logins?.Role == "Unit")
        {
            <aside class="sidebar-wrapper" data-simplebar="true">
                <div class="sidebar-header">
                    <div>
                        <img src="~/assets/images/icons/armylogo.png" class="logo-icon" alt="logo icon">
                    </div>
                    <div>
                        <h4 class="logo-text">PAW</h4>
                    </div>
                    <div class="toggle-icon ms-auto" id="menusharp">
                        <ion-icon name="menu-sharp"></ion-icon>
                        <img src="~/assets/images/menu-sharp.256x172.png" class="paw-menu-icon" />
                    </div>
                </div>

                <ul class="metismenu sidebar-menu" id="menu">

                    <li>
                        <div class="parent-icon">
                            <ion-icon name="home-sharp"></ion-icon>
                        </div>
                        <a href="/Home/Index">
                            <div class="menu-title paw-menu-title-left0">
                                Dashboard : @Logins.Unit
                            </div>
                        </a>
                    </li>

                    @if (isAdmin)
                    {
                        <li>
                            <a href="/Home/StkHDashbard">
                                <div class="icon-container paw-admin-iconcontainer">
                                    <img src="/assets/images/icons/admin.jpg" alt="Icon">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name">Stakeholder DashBoard</span>
                                </div>
                            </a>
                        </li>
                    }

                    @if (Logins?.Iamuserid != null)
                    {
                        <li>
                            <a href="/Projects/Create">
                                <div class="icon-container">
                                    <ion-icon name="ellipse-outlinProj Commentse"></ion-icon>
                                    <span class="icon-name">Add New Project</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="/Projects/ProjDetails">
                                <div class="inbox-container paw-inbox-ml-46">
                                    <div class="icon-container paw-inbox-ml--43">
                                        <ion-icon name="ellipse-outline"></ion-icon>
                                        <span class="icon-name">Inbox</span>
                                        <span id="InboxCount" class="badge3 d-none InboxCount">0</span>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="/Projects/ProjComments"  >
                                <div class="icon-container">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name">Stakeholder Comments</span>
                                    <span id="ProjectCommentCount" class="badge5 d-none ProjectCommentCount">0</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="/Actions/ActionSeqView">
                                <div class="icon-container">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name"> How to Move Proj</span>
                                </div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Identity/Account/Register" target="_new">
                                <div class="icon-container">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name">Register New User</span>
                                </div>
                            </a>
                        </li>
                    }

                    <li>
                        <a href="/Home/ProjectWiseReport">
                            <div class="icon-container">
                                <ion-icon name="ellipse-outline"></ion-icon>
                                <span class="icon-name">Analysis</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="/Chat/Index">
                            <div class="inbox-container paw-inbox-ml-46">
                                <div class="icon-container paw-inbox-ml--43">
                                    <ion-icon name="ellipse-outline"></ion-icon>
                                    <span class="icon-name mr-3">Chat</span>
                                    <span id="InterUserMsgCount" class="badge3 d-none InterUserMsgCount mt-1">
                                        <ion-icon name="ellipse" class="new-badge-icon"></ion-icon>
                                        <span class="new-text">new</span>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="sidebar-footer"></div>
            </aside>

            <header class="top-header mb-5">
                <div class="toggle-icon ms-auto d-none" id="menusharp1">
                    <ion-icon name="menu-sharp"></ion-icon>
                    <img src="~/assets/images/menu-sharp.256x172.png" class="paw-menu-icon" />
                </div>

                <nav class="navbar navbar-expand gap-3">
                    <div class="mobile-menu-button">
                        <ion-icon name="menu-sharp"></ion-icon>
                    </div>

                    <div class="flex-grow-1 text-center">
                        <h1 class="h2 h4-sm h3-md text-white mb-0 nowrap" id="mainheading">
                            Portal for Application Whitelisting (PAW)
                        </h1>
                    </div>

                    <a href="javascript:void(0);"
                       class="mr-2 edit-user-btn paw-edituser-link-white"
                       data-username="@Logins.UserName"
                       data-rankid="@Logins.Rank_id"
                       data-rolename="@Logins.Role">
                        <i class="fa-solid fa-user-pen paw-userpen-icon" title="Edit user"></i>


                    </a>

                    <div class="top-navbar-right ms-auto">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item dropdown paw-font-small">
                                <span class="d-none" id="IpAddress">@Logins.IpAddress</span>
                                <span class="d-none" id="SpnCurrentUserStackholderID">@Logins.unitid</span>
                                <div class="text-white mr-2">
                                    Welcome : <span id="spnUsername"> @Logins.UserName.ToLower()</span>
                                    <div class="text-white mr-2 text-capitalize">@Logins.Rank @Logins.Offr_Name</div>
                                    <span class="spnOffr_Name d-none">@Logins.Offr_Name</span>
                                    <span class="spnuserid d-none">@Logins.Iamuserid</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="user-setting paw-user-setting-mr-100">
                        <a href="/Account/Logout">
                            <img src="~/assets/images/icons/logout.png" class="user-img" alt="">
                        </a>
                    </div>
                </nav>

                <div class="bar bg-white paw-bar-mt-62"></div>
                <div class="bar py-1 px-3 paw-bar-mt-70">
                    <span class="bar_content">
                        @SiteSettings.Value.BannerMessage
                        <span class="bar_space"></span>
                        @SiteSettings.Value.BannerMessage2
                    </span>
                </div>
            </header>
        }

        <div class="page-content-wrapper">
            @if (Logins != null)
            {
                <div class="switcher-body paw-switcher-hidden">
                    <button class="btn btn-primary btn-switcher shadow-sm" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                        <ion-icon name="color-palette-sharp" class="me-0"></ion-icon>
                    </button>

                    <div class="offcanvas offcanvas-end shadow border-start-0 p-2" data-bs-scroll="true" data-bs-backdrop="false"
                         tabindex="-1" id="offcanvasScrolling">
                        <div class="offcanvas-header border-bottom">
                            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Theme Customizer</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                        </div>
                        <div class="offcanvas-body">
                            <h6 class="mb-0">Theme Variation</h6>
                            <hr>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="LightTheme" value="option1">
                                <label class="form-check-label" for="LightTheme">Light</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="DarkTheme" value="option2">
                                <label class="form-check-label" for="DarkTheme">Dark</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="SemiDark" value="option3"
                                       checked>
                                <label class="form-check-label" for="SemiDark">Semi Dark</label>
                            </div>

                            <hr />
                            <h6 class="mb-0">Header Colors</h6>
                            <hr />

                            <div class="header-colors-indigators">
                                <div class="row row-cols-auto g-3">
                                    <div class="col"><div class="indigator headercolor1" id="headercolor1"></div></div>
                                    <div class="col"><div class="indigator headercolor2" id="headercolor2"></div></div>
                                    <div class="col"><div class="indigator headercolor3" id="headercolor3"></div></div>
                                    <div class="col"><div class="indigator headercolor4" id="headercolor4"></div></div>
                                    <div class="col"><div class="indigator headercolor5" id="headercolor5"></div></div>
                                    <div class="col"><div class="indigator headercolor6" id="headercolor6"></div></div>
                                    <div class="col"><div class="indigator headercolor7" id="headercolor7"></div></div>
                                    <div class="col"><div class="indigator headercolor8" id="headercolor8"></div></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }

            <div class="page-content">
                @Html.AntiForgeryToken()
                @RenderBody()
            </div>
        </div>
      
        @if (Logins != null)
        {
            <footer class="footer paw-footer-fixed">
                <div class="footer-text">
                    Copyright &copy; Developed by ASDC, DGIS
                </div>
                <div class="paw-footer-right-info">
                    <span id="dailyCounter"></span>
                    <span id="monthlyCounter"></span>
                    <span id="totalCounter" class="paw-totalCounter"></span>
                </div>
            </footer>
        }

        <a href="javaScript:;" class="back-to-top">
            <ion-icon name="arrow-up-outline"></ion-icon>
        </a>

        <div class="overlay nav-toggle-icon"></div>
    </div>

    <button id="btnid" class="hidden">@Logins?.unitid</button>

    <div class="modal fade" id="ProjCommentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl custom-modal">
            <div class="modal-content paw-modal-content-ml-0">
                <div class="modal-header">
                    <h5 class="modal-title btn-add-comment" id="addComment">Project Name:</h5>
                    <span class="d-none" id="ProjectcommentForStackHolderprojId"></span>
                    <span class="d-none" id="ProjectcommentForStackHolderPsmId"></span>
                    <span class="d-none" id="ProjectcommentForStackHolderDate_type"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card radius-12">
                                <div class="text-with-icon underline-h7">
                                    <span class="paw-chat-emoji">&#128172;</span>
                                    <h7 class="text-center mb-4 underline-h7 paw-addcomment-title">
                                        Add Comments for Project
                                    </h7>
                                </div>

                                <div class="container mt-1">
                                    <div class="row justify-content-center">
                                        <div class="col-md-10 form-container">
                                            <div id="projectcommentforstackholder">
                                                <div class="row">
                                                    <div>
                                                        <div>
                                                            <label id="Comm"><b>Comment</b> <span class="required-indicator">*</span></label>
                                                            <textarea id="Comments" class="requiredField paw-comments-textarea" rows="4"></textarea>
                                                            <div class="invalid-feedback">Please provide the Comments</div>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label"><b>Status</b> <span class="text-danger"><font class="paw-red-font"><b>*</b></font></span></label>
                                                            <select class="form-control1 form-control requiredField" id="ddlStatus">
                                                                <option value="">Select a Status</option>
                                                            </select>

                                                            <div class="invalid-feedback">Select Status Required</div>
                                                            <div class="invalid-feedback">Please select a Status.</div>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label class="control-label"><b>Date of Post:</b></label>
                                                        <input id="CommentDateFwd" type="date" class="datePicker form-control form-control1 requiredField" />
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="pdfFile"><b>Upload PDF</b></label>
                                                        <input type="file" id="uploadfile" name="uploadfile" accept=".pdf" class="form-control form-control1" />
                                                    </div>

                                                    <div class="text-left">
                                                        <button type="button" class="btn btn-primary" id="btnStatusUpdate">Send</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            @Html.Partial("_ProjectComments");
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="uploadLoader" class="paw-uploadLoader">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-center">
                    <div class="spinner-border text-success paw-spinner-4rem" role="status">
                        <span class="visually-hidden">Uploading...</span>
                    </div>
                    <div class="mt-3 text-white">Uploading, please wait...</div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("_whitelistdProjectView")

    <div class="modal fade right" id="iProjibutton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="lblHistory">Project Fwd History</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <img src="~/assets/images/flow.png" class="FlowImg" />
                </div>

            </div>
        </div>
    </div>
    @await Html.PartialAsync("_AlertMessages")


   
    <script language="JavaScript" type="text/javascript" src="~/js/sweetalert2.all.min.js"></script>

    <!-- Central JS for handling alerts -->
	<script src="~/developerjs/centralerrororsuccess.js"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/developerjs/whitelistedpartialview.js"></script>
    <script src="~/DeveloperJs/ProjectstkholderComments.js"></script>
    <script src="~/DeveloperJs/layout.js"></script>
    <script src="~/developerjs/ProjectstckholdercommentforProjHistory.js"></script>
</body>
</html>





