@using swas.BAL.DTO;
@using Microsoft.AspNetCore.Mvc.Rendering
@model CommonDTO

<div class="accordion-body">

    <div class="row">
        <div class="col-12 col-lg-12 col-xl-6 d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body">
                    <td colspan="2">
                      

                        @{
                            
                            int psmid = 0;
                           
                            Model.Submitcde = ViewBag.SubmitCde;

                            TempData["projpsmid"] = TempData["projpsmid"]; 
                            TempData["projpsmided"] = TempData["projpsmided"];
                            if (psmid !=0)
                                Model.AttHisAdd.PsmId = psmid;

                            TempData.Remove("TfrToNext");



                        }

                        @{
                            if (Model.ProjEdit != null)
                            {
                                                @if (Model.ProjEdit.ProjCode != null)
                                {
                                  
                                }
                            }
                        }
                    


                        <table id="fwduploaditems" class="table table-striped table-bordered" >


                            @if (Model.Submitcde == false)
                            {
                               
                               

                            }
                            

                            <tr>
    <td>
        <!-- Your content here -->
    </td>
    <td>
        ATT DOCU DESC
        @Html.TextAreaFor(Model => Model.AttHisAdd.Reamarks, new { @class = "form-control", id = "Reamarksed", @oninput = "ValInData(this)" })

      
    </td>
    <td colspan="2">
        <p>Upload PDF file</p>
        <input type="file" id="pdfFileInputed" name="uploadfile" class="form-control-file" accept=".pdf">
    </td>
</tr>
<tr>
    <td colspan="4">
        <center>
        <button type="submit" id="uploadButtoned" class="btn btn-primary" formnovalidate>Upload Documents</button>
        </center>
    </td>
</tr>
                        </table>
                         
                         
                    </td>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-12 col-xl-6 d-flex">
            <div class="card radius-10 w-100">
                <div class="card-body" >
                    <td colspan="2">

                        <table id="SoftwareTypesed" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Delete</th>
                                    <th>Docu Desc</th>
                                    <th>File Name</th>
                                    <th>Timestamp</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Atthistory != null)
                                {
                                    @foreach (var history in Model.Atthistory)
                                    {
                                        <tr>
                                            <td>
                                                <a onclick="functionConfirm1('@history.AttId')" class="btn btn-secondary btn-ecomm"><i class="bx bx-trash"></i></a>
                                                 
                                                      
                                            </td>
                                            <td>
                                             
                                                @history.Reamarks
                                            </td>
                                            <td>
                                                @history.ActFileName
                                            </td>
                                            <td>@history.TimeStamp</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </td>
                </div>
            </div>
        </div>
    </div>
</div>



