@using swas.DAL.Models



@{
    ViewData["Title"] = "Search Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{

}


    
<head>
    <link href="~/css/CurrentSeach.css" rel="stylesheet"/>
</head>


<div class="center-content">
    <label class="custom-radio">
        <input type="radio" name="showDiv" id="showAll" />
        <span class="radio-label">Project Name</span>
    </label>
    <label class="custom-radio">
        <input type="radio" name="showDiv" id="showRadio1" />
        <span class="radio-label">HeldWith</span>
    </label>
    <label class="custom-radio">
        <input type="radio" name="showDiv" id="showRadio2" />
        <span class="radio-label">Stage</span>
    </label>
    <label class="custom-radio">
        <input type="radio" name="showDiv" id="showRadio3" />
        <span class="radio-label">Status</span>
    </label>
    <label class="custom-radio">
        <input type="radio" name="showDiv" id="showRadio4" />
        <span class="radio-label">Action</span>
    </label>
    <label class="custom-radio">
        <input type="radio" name="showDiv" id="showRadio5" />
        <span class="radio-label">Initiated By</span>
    </label>
</div>


<div id="searchContainer" class="search-container">
    <form class="form-group" asp-action="SearchResluts" id="searchFormProjName">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <label>Project Name:</label>&nbsp;
                    <input id="searchText" type="text" name="SearchText" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <label>From Date:</label>&nbsp;
                <input id="TimeStampFromProj" type="date" class="datePicker" />
            </div>
            <div class="col-md-auto">
                <label>To Date:</label>&nbsp;
                <input id="TimeStampToProj" type="date" class="datePicker" />
            </div>
        </div>
        <div class="col-md-auto text-center">
            <button type="button" class="btn btn-primary btn-sm" id="SearchProjName">Search</button>
        </div>
    </form>
</div>


<div id="searchStackholder" class="search-container">
    <form class="form-group" asp-action="SearchstackResults" id="searchStackholder">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <dl class="dropdown">
                        <dt>
                            <a href="#">
                                <span class="multiSel">Select HeldWith</span>
                                <p class="multiSel"></p>
                            </a>
                        </dt>
                        <dd>
                            <div class="mutliSelect">
                                <ul>
                                    @if (ViewBag.stack != null)
                                    {
                                        @foreach (var item in ViewBag.stack)
                                        {
                                            <li>
                                                <input type="checkbox" value="@item" name="selectedStacks" required />
                                                @item
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <p>No data available</p>
                                    }
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <label>From Date:</label>&nbsp;
                <input id="TimeStampFromheld" type="date" class="datePicker" required />
            </div>
            <div class="col-md-auto">
                <label>To Date:</label>&nbsp;
                <input id="TimeStampToheld" type="date" class="datePicker" required />
            </div>
        </div>
        <div class="col-md-auto text-center">
            <button type="button" class="btn btn-primary btn-sm" id="searchstackButton">Search</button>
        </div>
    </form>
</div>


<div<div id="searchStage" class="search-container">
    <form class="form-group" asp-action="SearchStageResult" id="searchStage">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <dl class="dropdown">
                        <dt>
                            <a href="#">
                                <span class="multiSel1">Select Stage</span>
                                <p class="multiSel1"></p>
                            </a>
                        </dt>
                        <dd>
                            <div class="mutliSelect">
                                <ul>
                                        @if (ViewBag.stage != null)
                                        {
                                            @foreach (var item in ViewBag.stage)
                                            {
                                                    <li>
                                                        <input type="checkbox" value="@item" name="selectedstage" required />
                                                    @item
                                                    </li>
                                            }
                                        }
                                        else
                                        {
                                            <p>No data available</p>
                                        }
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <label>From Date:</label>&nbsp;
                <input id="TimeStampFromStage" type="date" class="datePicker" required />
            </div>
            <div class="col-md-auto">
                <label>To Date:</label>&nbsp;
                <input id="TimeStampToStage" type="date" class="datePicker" required />
            </div>
        </div>
        <div class="col-md-auto text-center">
            <button type="button" class="btn btn-primary btn-sm" id="searchstageButton">Search</button>
        </div>
    </form>
</div>

<div id="searchStatus" class="search-container">
    <form class="form-group" asp-action="SearchStatusResult" id="searchStatus">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <dl class="dropdown">
                        <dt>
                            <a href="#">
                                <span class="multiSel2">Select Status</span>
                                <p class="multiSel2"></p>
                            </a>
                        </dt>
                        <dd>
                            <div class="mutliSelect">
                                <ul>
                                        @if (ViewBag.status != null)
                                        {
                                            @foreach (var item in ViewBag.status)
                                            {
                                                    <li>
                                                        <input type="checkbox" value="@item" name="selectedstatus" required />
                                                    @item
                                                    </li>
                                            }
                                        }
                                        else
                                        {
                                            <p>No data available</p>
                                        }
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <label>From Date:</label>&nbsp;
                <input id="TimeStampFromStatus" type="date" class="datePicker" required />
            </div>
            <div class="col-md-auto">
                <label>To Date:</label>&nbsp;
                <input id="TimeStampToStatus" type="date" class="datePicker" required />
            </div>
        </div>
        <div class="col-md-auto text-center">
            <button type="button" class="btn btn-primary btn-sm" id="searchstatusbutton">Search</button>
        </div>
    </form>
</div>

<div id="searchAction" class="search-container">
    <form class="form-group" asp-action="SearchActionResult" id="searchAction">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <dl class="dropdown">
                        <dt>
                            <a href="#">
                                <span class="multiSel3">Select Action</span>
                                <p class="multiSel3"></p>
                            </a>
                        </dt>
                        <dd>
                            <div class="mutliSelect">
                                <ul>
                                        @if (ViewBag.action != null)
                                        {
                                            @foreach (var item in ViewBag.action)
                                            {
                                                    <li>
                                                        <input type="checkbox" value="@item" name="selectedaction" required />
                                                    @item
                                                    </li>
                                            }
                                        }
                                        else
                                        {
                                            <p>No data available</p>
                                        }
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <label>From Date:</label>&nbsp;
                <input id="TimeStampFromAction" type="date" class="datePicker" required />
            </div>
            <div class="col-md-auto">
                <label>To Date:</label>&nbsp;
                <input id="TimeStampToAction" type="date" class="datePicker" required />
            </div>
        </div>
        <div class="col-md-auto text-center">
            <button type="button" class="btn btn-primary btn-sm" id="searchactionbutton">Search</button>
        </div>
    </form>
</div>
<div id="searchinitiatedby" class="search-container">
    <form class="form-group" asp-action="SearchstackResults" id="searchStackholder">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-auto">
                    <dl class="dropdown">
                        <dt>
                            <a href="#">
                                <span class="multiSel4">Select Stake</span>
                                <p class="multiSel4"></p>
                            </a>
                        </dt>
                        <dd>
                            <div class="mutliSelect">
                                <ul>
                                        @if (ViewBag.stack != null)
                                        {
                                            @foreach (var item in ViewBag.stack)
                                            {
                                                    <li>
                                                        <input type="checkbox" value="@item" name="selectedStackholder" required />
                                                    @item
                                                    </li>
                                            }
                                        }
                                        else
                                        {
                                            <p>No data available</p>
                                        }
                                </ul>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <label>From Date:</label>&nbsp;
                <input id="TimeStampFromInitiatedBy" type="date" class="datePicker" required />
            </div>
            <div class="col-md-auto">
                <label>To Date:</label>&nbsp;
                <input id="TimeStampToInitiatedBy" type="date" class="datePicker" required />
            </div>
        </div>
        <div class="col-md-auto text-center">
            <button type="button" class="btn btn-primary btn-sm" id="searchinitiatedbyButton">Search</button>
        </div>
    </form>
</div>



<div id="tableProjContainer">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <table id="SearchProjTable" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>ProjectID</th>
                        <th>Project</th>
                        <th>Initiated Date</th>
                        <th>Stage</th>
                        <th>HeldWith</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Comment</th>
                    </tr>
                </thead>

                <tbody id="searchtableProj">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<div id="tableStackContainer">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <table id="SearchStackHolderTable" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>ProjectID</th>
                        <th>Project</th>
                        <th>Initiated Date</th>
                        <th>Stage</th>
                        <th>HeldWith</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Comment</th>
                    </tr>
                </thead>

                <tbody id="searchStackHolderResults">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    

<div id="tableStageContainer">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <table id="SearchStageTable" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>ProjectID</th>
                        <th>Project</th>
                        <th>Initiated Date</th>
                        <th>Stage</th>
                        <th>HeldWith</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody id="searchStageResults">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="tableStatusContainer">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <table id="SearchStatusTable" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>ProjectID</th>
                        <th>Project</th>
                        <th>Initiated Date</th>
                        <th>Stage</th>
                        <th>HeldWith</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody id="searchStatusResults">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="tableActionContainer">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <table id="SearchActionTable" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>ProjectId</th>
                        <th>Project</th>
                        <th>Initiated Date</th>
                        <th>Stage</th>
                        <th>HeldWith</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody id="searchActionResults">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="tableInitiatedByContainer">
    <div class="card radius-10 w-100">
        <div class="card-body">
            <table id="SearchInitiatedByTable" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>ProjectId</th>
                        <th>Project</th>
                        <th>Initiated Date</th>
                        <th>Stage</th>
                        <th>StakeHolder</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody id="searchInitiatedByResults">
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="~/developerjs/currentsearch.js"></script>