@using swas.BAL.DTO
@model List<ProjLogView>


@{
    ViewData["Title"] = "Search Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sno = 1;
}


    @* <link href="~/css/GetProjLogView.css" rel="stylesheet"/> *@



<div id="searchContainer" class="search-container mt-5">
    <form class="form-group" asp-action="GetProjLogview" method="post" id="searchFormProjName">

        <div class="row justify-content-center" style="margin-top:106px" ;>
            <div class="col-md-auto">
                <label>From Date:</label>&nbsp;
                <input name="fromDate" id="fromDate" type="date" class="datePicker" value="@TempData["fromDate"]" />
            </div>
            <div class="col-md-auto">
                <label>To Date:</label>&nbsp;
                <input name="toDate" id="toDate" type="date" class="datePicker" value="@TempData["toDate"]" />
            </div>
        </div>

        <div class="col-md-auto" style="text-align:center">
            <button type="button" class="btn btn-primary btn-sm" id="SearchData">Search</button>
        </div>
    </form>
</div>



<div id="tableProjContainer">
    <div class="card radius-10 w-100">
        <div class="card-body" style="overflow:scroll">

            <table id="SoftwareType" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>S/No</th>
                        <th>Proj Name</th>
                        <th>Sponsor </th>
                        <th>Stage</th>
                        <th>Sub Stage</th>
                        <th>Action</th>
                        <th>User ID</th>
                        <th>TimeStamp</th>
                        <th>Fwd By</th>
                        <th>Fwd To</th>
                        <th>Remarks</th>
                    </tr>
                </thead>

                <tbody id="searchtableProj">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@sno</td>
                            <td>@item.ProjName</td>
                            <td>@item.UnitName</td>
                            <td>@item.Stages</td>
                            <td>@item.Status</td>
                            <td>@item.Actions</td>
                            <td>@item.ActionByUser</td>

                            <td>@item.TimeStamp</td>
                            <td>@item.FwdBy</td>
                            <td>@item.FwdTo</td>
                            <td>@item.AddRemarks</td>


                        </tr>
                        sno++;
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<script src="~/developerjs/getprojlogview.js"></script>