@using swas.BAL.DTO
@model List<ProjHistory>
@{
    ViewBag.Title = "Project History List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sno = 0;

    int? dtaProjID = ViewBag.DataProjId as int?;
}
<head>  
    <link href="~/css/SearchProjHistory.css" rel="stylesheet"/>
</head>

<div id="AddProjDetails" class="row">
    <div>
        <h5 class="text-center mb-4 underline-h5">
            <span>
                Details of Projects
                <button class="btn btn-outline-secondary" type="button" id="closeButton">
                    X
                </button>
            </span>
        </h5>
    </div>

    <script>
        document.getElementById('closeButton').addEventListener('click', function () {
            window.location.href = "/Search/CurrentSearch";
        });
    </script>
    <!-- Proj Details -->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="projectheading">
                    Proj Details
                    <img src="~/assets/images/icons/pdfimg.png" onclick="PrintDiv()" alt="Pdf Download" class="pdf-download-icon">
                </div>
                <table class="new-proj-table">
                    <tr>
                        <td>Proj Name</td>
                        <td>@Model.FirstOrDefault()?.ProjName</td>
                    </tr>
                    <tr>
                        <td>Aim & Scope</td>
                        <td class="long-text">@Model[0].ProjectDetl[1].AimScope</td>
                    </tr>
                    <tr>
                        <td>Usability of Proposed Appln</td>
                        <td>@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>
                    </tr>
                    <tr>
                        <td>Major Timeline..?</td>
                        <td>@Model[0].ProjectDetl[1].MajTimeLines</td>
                    </tr>
                    <tr>
                        <td>Name of Sponsor</td>
                        <td>@Model.FirstOrDefault()?.InitiatedBy</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Sponsor Details -->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="projectheading">Tech Details</div>
                <table class="new-proj-table">
                    <tr>
                        <td>Proposed Tech Stack</td>
                        <td>@Model[0].ProjectDetl[1].TechStackProposed</td>
                    </tr>
                    <tr>
                        <td>Type of Software</td>
                        <td>@Model[0].ProjectDetl[1].TypeofSW</td>
                    </tr>
                    <tr>
                        <td>NW Bandwidth Reqmt</td>
                        <td>@Model[0].ProjectDetl[1].NWBandWidthReqmt</td>
                    </tr>
                    <tr>
                        <td>Hosted On</td>
                        <td>@Model[0].ProjectDetl[1].Hostedon</td>
                    </tr>
                    <tr>
                        <td>Deployment Type</td>
                        <td>@Model[0].ProjectDetl[1].Deplytype</td>
                    </tr>
                    <tr>
                        <td>Being Devp In House..?</td>
                        <td>@Model[0].ProjectDetl[1].BeingDevpInhouse</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Tech Details -->
    <div class="col-12 col-lg-12 col-xl-4 d-flex">
        <div class="card radius-10 w-100">
            <div class="card-body">
                <div class="projectheading">Other Details</div>
                <table class="new-proj-table center-align">
                    <tr>
                        <td>Envisaged Cost</td>
                        <td>@Model[0].ProjectDetl[1].EnvisagedCost</td>
                    </tr>
                    <tr>
                        <td>Content of SW Appln</td>
                        <td>@Model[0].ProjectDetl[1].ContentofSWApp</td>
                    </tr>
                    <tr>
                        <td>Usability of Proposed Appln</td>
                        <td>@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>
                    </tr>
                    <tr>
                        <td>Reqmt Justification</td>
                        <td class="long-text">@Model[0].ProjectDetl[1].ReqmtJustification</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

<!--  PDF START -->
@{
    sno = 0;
}
<div class="container" hidden="hidden">
    <div id="myPDF" data-page-number="1" role="region" aria-label="Page 1" data-loaded="true">
        <div class="col-20 col-lg-20 col-xl-10 d-flex">
            <div class="card-body">
                <div id="widget-content">
                    <table id="htmlTopdf" class="table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Ser No</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Information of Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div id="checklist" class="checklist">
                                @Model.FirstOrDefault()?.ProjName : CHECKLIST
                            </div>

                            <tr>
                                <td class="text-center">1.</td>
                                <td class="text-left">Proj Name</td>
                                <td class="text-left">
                                    @(Model.FirstOrDefault()?.ProjName ?? "No Project Name")
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2.</td>
                                <td class="text-left">Name of Sponsor</td>
                                <td class="text-left">@Model.FirstOrDefault()?.InitiatedBy</td>
                            </tr>

                            <tr>
                                <td class="text-center">3.</td>
                                <td class="text-left">Type of SW (Bespoke/COTS/Customised)</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].TypeofSW</td>
                            </tr>

                            <tr>
                                <td class="text-center">4.</td>
                                <td class="text-left" colspan="2">
                                    <u>Brief justification on reqmt for devp of SW appl:</u><br />
                                    &nbsp;&nbsp;  @Model[0].ProjectDetl[1].ReqmtJustification
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">5.</td>
                                <td class="text-left" colspan="2">
                                    <u>Aim & Scope (Purpose incl utility, beneficiaries, and target users):</u><br />
                                    &nbsp;&nbsp;  @Model[0].ProjectDetl[1].AimScope
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">6.</td>
                                <td class="text-left" colspan="2">
                                    <u>To be hosted on Internet/ADN with brief Desc:</u><br />
                                    &nbsp;&nbsp;  @Model[0].ProjectDetl[1].Hostedon
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">7.</td>
                                <td class="text-left">Being devp in house or through IT funds</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].BeingDevpInhouse</td>
                            </tr>

                            <tr>
                                <td class="text-center">8.</td>
                                <td class="text-left">
                                    Usability of proposed appl by other arms/service/org/est
                                </td>
                                <td class="text-left">@Model[0].ProjectDetl[1].UsabilityofProposedAppln</td>
                            </tr>

                            <tr>
                                <td class="text-center">9.</td>
                                <td class="text-left">HW and IT infrastructure reqd:</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].HQandITinfraReqd</td>
                            </tr>

                            <tr>
                                <td class="text-center">10.</td>
                                <td class="text-left" colspan="2">
                                    <u>Brief details of content of the proposed SW appl:</u><br />
                                    &nbsp;&nbsp; @Model[0].ProjectDetl[1].ContentofSWApp
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">11.</td>
                                <td class="text-left">Endorsement by Head of Br/Svc/Fmn</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].EndorsmentbyHeadof</td>
                            </tr>

                            <tr>
                                <td class="text-center">12.</td>
                                <td class="text-left">Details of user base</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].DetlsofUserBase</td>
                            </tr>

                            <tr>
                                <td class="text-left" colspan="3">
                                    Addl Details (Optional in Pre Apvl Stg: Mandatory in Post Apvl Stg)
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">13.</td>
                                <td class="text-left">Envisaged cost of entire proj incl license fees and maintenance</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].EnvisagedCost</td>
                            </tr>

                            <tr>
                                <td class="text-center">14.</td>
                                <td class="text-left">Project date of completion incl major timelines</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].MajTimeLines</td>
                            </tr>

                            <tr>
                                <td class="text-center">15.</td>
                                <td class="text-left" colspan="2">
                                    <u>Brief details of SW platform and tech stack proposed for development of application including OS dependencies (if any):</u><br />
                                    &nbsp;&nbsp; @Model[0].ProjectDetl[1].DetlsofUserBase
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">16.</td>
                                <td class="text-left">Brief details of proposed network and bandwidth requirements</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].NWBandWidthReqmt</td>
                            </tr>

                            <tr>
                                <td class="text-center">17.</td>
                                <td class="text-left">Brief details of OS & Sys software requirements</td>
                                <td class="text-left">@Model[0].ProjectDetl[1].HQandITinfraReqd</td>
                            </tr>

                            <tr>
                                <td class="text-center">18.</td>
                                <td class="text-left" colspan="2">
                                    <u>Brief details of proposed data security measures including backup of data:</u><br />
                                    &nbsp;&nbsp; @Model[0].ProjectDetl[1].DataSecurity_backup
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">19.</td>
                                <td class="text-left" colspan="2">
                                    <u>Deployment Type:</u><br />
                                    &nbsp;&nbsp; @Model[0].ProjectDetl[1].Deplytype
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Movement Table -->
                    <table class="table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">Ser No</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Fwd Fm</th>
                                <th class="text-center">Fwd To</th>
                                <th class="text-center">Remarks</th>
                                <th class="text-center">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div id="movment" class="movment">
                                @Model.FirstOrDefault()?.ProjName : MOVEMENT
                            </div>

                            @foreach (var history in Model)
                            {
                                <tr>
                                    <td class="text-left">@sno</td>
                                    <td class="text-left">@history.TimeStamp</td>
                                    <td class="text-left">@history.Status</td>
                                    <td class="text-left">@history.FromStakeHolder</td>
                                    <td class="text-left">@history.CurrentStakeHolder</td>
                                    <td class="text-left">@history.Remarks</td>
                                    <td class="text-left">@history.Comment</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PDF END -->



<div class="card bi-ui-radios-30 w-100">
    <div class="card-body">
        @{
            sno = 0;
        }
        <table id="SoftwareType" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Ser No</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Fwd Fm</th>
                    <th>Fwd To</th>
                    <th>Remarks</th>
                    <th>Comment</th>
                    <th>Current Stakeholder</th>
                    <th>Initiated By</th>
                    <th>#Att</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var history in Model)
                {
                    <tr>
                        <td>@{
                                sno++;
                            } @sno</td>
                        <td>@history.TimeStamp</td>
                        <td>@history.Status</td>
                        <td>@history.FromStakeHolder</td>
                        <td>@history.CurrentStakeHolder</td>
                        <td>@history.Remarks</td>
                        <td>@history.Comment</td>
                        <td>@history.CurrentStakeHolder</td>
                        <td>@history.InitiatedBy</td>
                        <td>
                            @if (history.AttCnt > 0)
                            {
                                <a href="javascript:void(0);" class="anchorDetail" data-id="@history.PsmId">
                                    <img src="/assets/images/icons/attachemnts_clip.png" alt="Icon" class="attachment-icon">
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




