@*View Created by Sub Maj M Sanal Kumar on :  02 Aug 23
Reviewd by Hav Mani on :
*@

@using swas.DAL.Models
@model List<tbl_mStatus>

@{
    ViewBag.Title = "Sub Stages List";
}
<link href="~/css/status_create.css" rel="stylesheet" />


<button type="button" id="AddButon" class="btn btn-primary add-stage-button" data-bs-toggle="modal" data-bs-target="#SubStageAdd">
    Add New Sub Stage
</button>

<div class="card radius-10 w-100">
    <div class="card-body">
        <table id="SoftwareType" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Sub Stage ID</th>
                    <th>Sub Stage</th>
                    <th>Is Active</th>
                    <th>Edit/Delete By</th>
                    <th>Edit/Delete Date</th>
                    <th>Updated By User ID</th>
                    <th>Date of Update</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Substage in Model)
                {
                    if (Substage.IsActive == true)
                    {
                        <tr>
                            <td>@Substage.StatusId</td>
                            <td>@Substage.Status</td>
                            <td>@Substage.IsActive</td>
                            <td>@Substage.EditDeleteBy</td>
                            <td>@Substage.EditDeleteDate?.ToString("dd-MM-yyyy")</td>
                            <td>@Substage.UpdatedByUserId</td>
                            <td>@Substage.DateTimeOfUpdate?.ToString("dd-MM-yyyy")</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="SubStageAdd" tabindex="-1" aria-labelledby="ProjectAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center mb-4 underline-h5">
                    New Sub Stage Page
                </h5>
            </div>
            <div class="modal-body">
                @Html.Partial("_CreateStatus", new tbl_mStatus())
            </div>
        </div>
    </div>
</div>


<script src="~/developerjs/stage.js"></script>

<script src="~/developerjs/status.js"></script>