@*View Created by Sub Maj M Sanal Kumar on :  02 Aug 23
Reviewd by Hav Mani on : 
*@
@using swas.DAL.Models
@model List<tbl_Comment>

@{
    ViewBag.Title = "Comments List";
}

<h2>Comments List</h2>

<div class="wrapper">
    <div class="add-new-btn">
        <button id="addNewButton">Add New</button>
    </div>

    <table id="commentsTable" class="display">
        <thead>
            <tr>
                <th>Comment ID</th>
                <th>PSM ID</th>
                <th>Comment</th>
                <th>Is Deleted</th>
                <th>Is Active</th>
                <th>Edit/Delete By</th>
                <th>Edit/Delete Date</th>
                <th>Updated By User ID</th>
                <th>Date of Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in Model)
            {
                <tr>
                    <td>@comment.CommentId</td>
                    <td>@comment.PsmId</td>
                    <td>@comment.Comment</td>
                    <td>@comment.IsDeleted</td>
                    <td>@comment.IsActive</td>
                    <td>@comment.EditDeleteBy</td>
                    <td>@comment.EditDeleteDate?.ToString("dd-MM-yyyy")</td>
                    <td>@comment.UpdatedByUserId</td>
                    <td>@comment.DateTimeOfUpdate?.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
