@using swas.BAL.DTO
@model Users
@{
    ViewData["Title"] = "User Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/getsallusers.css" rel="stylesheet" />

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header users-card-header">
                    <h3 class="text-center font-weight-light my-1 text-white">Existing Users</h3>
                </div>

                <div class="card-body">
                    <input type="hidden" id="watermarkText" value="@ViewBag.Watermark" />

                    <div class="d-flex justify-content-between mb-3">
                        <div>
                            <button type="hidden" class="btn btn-primary btn-sm users-hidden">Add Condition</button>
                        </div>

                        <div>
                            <input type="text" id="searchBox" class="form-control form-control-sm" placeholder="Search...">
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="SoftwareXX" class="table table-striped table-bordered w-100">
                            <thead>
                                <tr>
                                    <th class="users-col-sno">S/No</th>
                                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                                    <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Flag</th>
                                    @{
                                        int rowNo = 0;
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in (IEnumerable<swas.BAL.DTO.Users>)@ViewBag.data)
                                {
                                    <tr>
                                        <td>@(++rowNo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>

                                        <td>
                                            <a href="@Url.Action("AllUsersEdit", "Account", new { item.UserName, item.RoleName, item.RankId })">
                                                <img src="/assets/images/icons/edit.png" alt="Edit" class="icon-image">
                                            </a>
                                        </td>

                                        <td>
                                            <a href="@Url.Action("UserDelete", "Account", new { item.UserName, item.RoleName })">
                                                <img src="/assets/images/Del.png" alt="Delete" class="icon-image">
                                            </a>
                                        </td>

                                        <td>
                                            <button class="flag-toggle-btn"
                                                    data-username="@item.UserName"
                                                    data-rolename="@item.RoleName"
                                                    data-flag="@item.Flag">
                                                @if (item.Flag == true)
                                                {
                                                    <span class="flag-pill flag-pill-on">ON</span>
                                                }
                                                else
                                                {
                                                    <span class="flag-pill flag-pill-off">OFF</span>
                                                }
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/DeveloperJs/Account.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
