@page
@using Microsoft.AspNetCore.Identity

@using System.Collections
@using swas.BAL.DTO
@using swas.BAL.Helpers
@using swas.DAL.Models
@model RegisterModel
@inject IHttpContextAccessor HttpContextAccessor



@{
    Layout = "~/Views/Shared/_Layoutreg.cshtml";

    var roles = (List<IdentityRole>)ViewData["roles"];
    var iamuser = (List<AddlTask>)ViewData["IAMUser"];
    var units = (List<UnitDtl>)ViewData["Unit"];
    var Rank = (List<mRank>)ViewData["rank"];



    Login Logins = SessionHelper.GetObjectFromJson<Login>(HttpContextAccessor.HttpContext.Session, "User");


}


<link href="~/css/Register.css" rel="stylesheet"/>

<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">

        <div class="card radius-10 reg-card-wrap">
            <div class="card-body reg-card-inner">
                <div class="card-d btn-primary card-header">
                    <h3 class="text-center card-show font-weight-light my-4"><u>NEW USER REGISTRATION</u></h3>
                </div>

                <form id="registerForm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-12">

                            <table class="table table-striped table-bordered">
                                @if (Logins != null)
                                {
                                    <tr>
                                        <td>
                                            <label asp-for="Input.UserName" class="label control-label reg-label-m5">Regn Id (UserName)</label>
                                        </td>
                                        <td class="reg-td-w65">
                                            <input asp-for="Input.UserName" class="form-control" maxlength="20" aria-required="true"
                                                   placeholder="Regn Id Reqd for Login & More Users Regn for this unit" />
                                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <label asp-for="Input.UserName" class="label control-label reg-label-m5">Regn Id (UserName)</label>
                                        </td>
                                        <td class="reg-td-w65">
                                            <input asp-for="Input.UserName" class="form-control" maxlength="20"
                                                   aria-required="true" readonly
                                                   placeholder="Regn Id Reqd for Login & More Users Regn for this unit" />
                                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                        </td>
                                    </tr>
                                }

                                <tr>
                                    <td>
                                        <label asp-for="Input.Rank" class="label control-label reg-label-m5">Rank</label>
                                    </td>
                                    <td>
                                        <select asp-for="Input.Rank" class="form-control dropdownsearch" aria-required="true">
                                            <option value="">--- Select ---</option>
                                            @foreach (var rank in Rank)
                                            {
                                                <option value="@rank.RankName">@rank.RankName</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Input.Rank" class="text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label asp-for="Input.OfficerName" class="label control-label reg-label-m5"> Name</label>
                                    </td>
                                    <td>
                                        <input asp-for="Input.OfficerName" class="form-control" maxlength="50" placeholder="Offrs Name" />
                                        <span asp-validation-for="Input.OfficerName" class="text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label asp-for="Input.appointment" class="label control-label reg-label-m5">Appointment</label>
                                    </td>
                                    <td>
                                        <input asp-for="Input.appointment" class="form-control" maxlength="35"
                                               aria-required="true" placeholder="Appointment" />
                                        <span asp-validation-for="Input.appointment" class="text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label asp-for="Input.Tele_Army" class="label control-label reg-label-m5">Tele No (Army)</label>
                                    </td>
                                    <td>
                                        <input asp-for="Input.Tele_Army" class="form-control" maxlength="35"
                                               aria-required="true" placeholder="Tele No (Army)" />
                                        <span asp-validation-for="Input.Tele_Army" class="text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label asp-for="Input.unitId" class="label control-label">Select Unit</label>
                                    </td>
                                    <td>
                                        <select asp-for="Input.unitId" class="form-control dropdownsearch">
                                            <option value="">Select Unit</option>
                                            @foreach (var unit in units)
                                            {
                                                <option value="@unit.unitid">@unit.UnitName</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Input.unitId" class="text-danger"></span>
                                    </td>
                                    <td>
                                        <div class="plus reg-plus-circle" id="UnitRegister">+</div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label asp-for="Input.RoleName" class="label control-label">Select Role</label>
                                    </td>
                                    <td>
                                        <select asp-for="Input.RoleName" class="ms form-control inputs dropdownsearch"
                                                asp-items='new SelectList(roles,"Id","Name")'>
                                            <option value="">----- Select Role ------</option>
                                        </select>
                                        <span asp-validation-for="Input.RoleName" class="text-danger"></span>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="input-group" id="show_hide_password">
                                            <input asp-for="Input.Password" hidden="hidden" maxlength="15"
                                                   class="ms form-control inputs" readonly="readonly"
                                                   autocomplete="new-password" aria-required="true" id="myInput"
                                                   placeholder="Password" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="input-group" id="show_hide_password">
                                            <input asp-for="Input.ConfirmPassword" hidden="hidden" maxlength="15"
                                                   class="ms form-control inputs" readonly="readonly"
                                                   autocomplete="new-password" aria-required="true" id="myCnfInput"
                                                   placeholder="Confirm Password" />
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="reg-row-center">
                                    <td colspan="2">
                                        <button type="submit" class="btn btn-success m-2 reg-btn-w132" id="btnsearch">Register</button>
                                    </td>
                                </tr>

                                <tr class="reg-row-center">
                                    <td colspan="2">
                                        <div class="col-12 reg-msg-red">@TempData["msg"]</div>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="UnitAdd" tabindex="-1" aria-labelledby="UnitAddViewLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content reg-modal-w650">
            <div class="modal-header">
                <h5 class="modal-title" id="UnitAddLabel">Add Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_unitadd", new UnitDtl { UnitName = "" })
            </div>
        </div>
    </div>
</div>

<script src="~/developerjs/register.js"></script>