@using swas.DAL.Models



@{
    ViewData["Title"] = "Documents Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sno = 0;
}

<link href="~/css/document_index.css" rel="stylesheet"/>

@using (Html.BeginForm("Index", "Documents", FormMethod.Get))
{

}



<div>
    <h5 class="text-center mb-4 underline-h5 custom-h5">
        <span>
            Projects History Details
        </span>
    </h5>
</div>





<div class="card-body">

    <table id="Soft" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Project Id</th>
                <th>Project Name</th>
                <th>Initial Remark</th>
                <th>Initiated Date</th>
                <th>WhiteListed</th>
                <th>Completion Date</th>
                <th>AimScope</th>

            </tr>
        </thead>


        <tbody>
            @foreach (var pro in ViewBag.proj)
            {
                <tr>
                    <td>
                        @{
                            sno++;
                        }
                        @sno
                    </td>
                    <td>@pro.ProjId</td>
                    <td>
                        <a class="MargeButton" data-proj-name="@pro.ProjName" data-proj-id="@pro.EncyID" href="#">
                            @pro.ProjName
                        </a>
                    </td>
                    <td>@pro.InitialRemark</td>
                    <td>@pro.InitiatedDate?.ToString("dd-MM-yyyy")</td>
                    <td>@pro.IsWhitelisted</td>
                    <td>@pro.CompletionDate?.ToString("dd-MM-yyyy")</td>
                    <td>@pro.AimScope</td>
                </tr>

            }

        </tbody>

    </table>


</div>
<script src="~/developerjs/documents_index.js"></script>