@*View Created by Sub Maj M Sanal Kumar on :  02 Aug 23
Reviewd by Hav Mani on : 
*@

@using swas.DAL.Models
@model List<tbl_mStages>

@{
    ViewBag.Title = "Stages List";
}


<link href="~/css/stage_create.css" rel="stylesheet" />
<button type="button" id="AddButon" class="d-none btn btn-primary mt-5 add-stage-button" data-bs-toggle="modal" data-bs-target="#StageAdd">
    Add New Stage
</button>

<div class="card radius-10 w-100">
    <div class="card-body">
        <div class="table-responsive">
            <table id="stagesTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="s-no-column">Stage ID</th>
                        <th>Stage</th>
                        <th>Is Active</th>
                        <th>Edit/Delete By</th>
                        <th>Edit/Delete Date</th>
                        <th>Updated By User ID</th>
                        <th>Date of Update</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stage in Model)
                    {
                        if (stage.IsActive == true)
                        {
                            <tr>
                                <td class="srno">@stage.StagesId</td>
                                <td>@stage.Stages</td>
                                <td>@stage.IsActive</td>
                                <td>@stage.EditDeleteBy</td>
                                <td>@stage.EditDeleteDate?.ToString("dd-MM-yyyy")</td>
                                <td>@stage.UpdatedByUserId</td>
                                <td>@stage.DateTimeOfUpdate?.ToString("dd-MM-yyyy")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="StageAdd" tabindex="-1" aria-labelledby="ProjectAddLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="text-center mb-4 underline-h5">
                    New Stage Page
                </h5>
            </div>
            <div class="modal-body">
                @Html.Partial("_CreateStage", new tbl_mStages())
            </div>
        </div>
    </div>
</div>


<script src="~/developerjs/stage.js"></script>