@using swas.DAL.Models
@using swas.BAL.DTO
@*@model List<UnitDtl>*@





@{
    int sno = 0;
}

<div class="card radius-10 w-100 mt-5">
    <div class="card-body">
        <div class="table-responsive">

            <table id="SoftwareType" class="table table-striped table-bordered">
                <!-- Table header -->
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Stage</th>
                        <th>SubStage</th>

                        <th>Mapping</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var unit in @ViewBag.StatusData)
                    {
                        <tr>
                            <td class="srno">

                                @{
                                    sno++;
                                }
                                @sno

                            </td>
                            <td>
                                <span class="d-none" id="CurrentStageId">@unit.StageId</span>
                                <span class="d-none" id="CurrentStatusId">@unit.StatusId</span>
                                <div>@unit.Stages</div>
                            </td>
                            <td>@unit.Status</td>
                            <td>

                                <button type="button" data-name="@unit.Status" data-id="@unit.StatusId" class="btn btn-success btn-Mapping">Status Mapping</button>


                            </td>

                        </tr>
                    }
                </tbody>

            </table>

        </div>
     
    </div>
</div>



<div class="modal fade" id="unitMapping" tabindex="-1" role="dialog"
     data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Status Mapping</h5>
                <span hidden class="d-none1" id="SpnmodalStageid">0</span>
                <span hidden class="d-none1" id="SpnmodalStatusId">0</span>
                <span hidden class="d-none1" id="spanmodalStatusActionsMappingId">0</span>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="modal-header">
                                <h5 class="card-title Fwdtitle" id="ProjectId"></h5>
                            </div>

                            <div class="card-body">
                                <div class="form-row">

                                    <div class="form-group col-md-6 ProjectsFwd">
                                        <label for="ddlStage">Stage</label>
                                        <select class="form-control requiredField readonly-field um-w-100"
                                                tabindex="-1" name="fwdoffrs" required id="ddlStage">
                                            <option value="0">Select Stage</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6 ProjectsFwd">
                                        <label for="ddlSubStage">Sub Stage</label>
                                        <select class="form-control requiredField readonly-field um-w-100"
                                                tabindex="-1" name="fwdoffrs" id="ddlSubStage" disabled>
                                            <option value="0">Select Sub Stage</option>
                                            <!-- Add your other options here -->
                                        </select>
                                        <input type="hidden" name="fwdoffrs" id="hiddenFwdoffrs">
                                    </div>

                                    <div class="form-group col-md-6 ProjectsFwd">
                                        <label for="ddlAction">Action</label>
                                        <select class="form-control requiredField um-w-100"
                                                tabindex="-1" name="fwdoffrs" required id="ddlAction">
                                            <option value="0">Select Action</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <button class="btn btn-submit um-save-btn" type="button" id="btnsave">
                                            Save
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group col-md-12 mt-4 text-center">
                <div class="card">
                    <div class="modal-header">
                        <h5 class="card-title">Status Mapping Stages</h5>
                    </div>
                    <div class="card-body">
                        <table id="mapunit" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Stages</th>
                                    <th>SubStages</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="mappingdetails"></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="UnitAdd" tabindex="-1" aria-labelledby="ProjectAddLabel" aria-hidden="true">
    <div class="modal-dialog um-modal-800">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UnitAddLabel">Add Unit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Partial("_unitdetls", new UnitDtl())
            </div>
        </div>
    </div>
</div>


<script src="~/developerjs/mtable.js"></script>
<script src="~/developerjs/unitmapping.js"></script>
    